@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

body h3,
body h2,
.buy-now-btn-sec,
.tab-inner-aqi .good-sec-top h5,
body h2.sec-heading b,
body h2.sec-heading.sec-heading-sec {
    font-family: 'Poppins', sans-serif !important;
}

body p,
.inner-real-time-aqi .countrey-sec {
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
}

.school_banner_box {
    padding: 0 0 160px;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.contact_info i.fa.fa-phone {
    transform: rotate(131deg);
}

.school_img_box {
    min-height: 830px !important;
    margin-top: 60px;
    background-size: cover;
    width: 100%;
}

.vc_row.wpb_row.vc_row-fluid.school_img_box.vc_custom_1660844203328.vc_row-has-fill.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
    background-size: 100% !important;
}

.schhol_text_box {
    background: rgba(79, 108, 65, 0.5);
    padding: 10px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 6px;
    min-width: 180px;
    text-align: center;
    color: #fff;
}

.third_school_box span.school_icon_box img {
    width: 53px;
}

.schhol_text_box h3 {
    margin: 0 0 4px;
    font-size: 18px;
}

.schhol_text_box p {
    color: #fff;
    font-size: 14px;
}

.school_box_cntr {
    width: 950px;
    float: right;
    padding: 120px 0;
}

.school_box_cntr ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.school_box_cntr li {
    display: inline-block;
    position: relative;
    width: 50%;
    float: left;
    min-height: 225px;
}

.school_box_cntr li img {
    width: 60px;
}

span.school_icon_box {
    position: absolute;
    top: -28px;
    left: -28px;
}

li.first_school_box {
    left: 0;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

li.second_school_box {
    top: 78px;
    left: 0;
    transform: translatey(0px);
    animation: float 7s ease-in-out infinite;
}

li.third_school_box {
    left: -200px;
    transform: translatey(0px);
    animation: float 8s ease-in-out infinite;
}

li.fourth_school_box {
    top: 300px;
    left: -200px;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

.pocket_title_box.school_aqi_box h1 {
    font-size: 40px;
    line-height: 48px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    margin-bottom: 20px;
}

.app_img_bx {
    overflow: hidden;
}

.owl-slider .owl-nav button span {
    font-size: 95px;
    color: #78AE60;
    font-family: 'Open Sans';
    font-weight: 500;
}

.vs_text {
    display: none;
}

.seperate_industrial_box {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 33px
}

.air_graph_box .wpb_wrapper {
    float: right;
}

.air_graph_box .wpb_text_column.wpb_content_element .wpb_wrapper {
    float: none;
}

.banner_quality_img_box figure.wpb_wrapper.vc_figure {
    width: 100%;
}

.banner_quality_img_box .vc_single_image-wrapper.vc_box_border_grey {
    width: 100%;
}

.banner_quality_img_box img.vc_single_image-img.attachment-full {
    width: 100%;
}

.pocket_title_box.school_aqi_box {
    padding: 110px 0 0 15%;
}

.banner_quality_box.wpb_column.vc_column_container.vc_col-sm-6 {
    width: 45%;
}

.banner_quality_img_box.wpb_column.vc_column_container.vc_col-sm-6 {
    width: 55%;
}

ul.rate_list li {
    font-weight: 500;
}

.pocket_buy_btn {
    font-weight: 500;
    font-size: 16px;
}

.pocket_title_box .rate_list {
    margin-top: 15px;
}

.school_aqi_box span.bold_text {
    font-weight: bold;
    display: block;
    color: #78AE60;
}

.app_service_box p {
    margin: 0 !important;
    overflow: hidden;
}

.app_service_box img {
    transition: transform .4s;
}

.app_service_box {
    overflow: hidden;
}

.owl-slider .owl-nav {
    position: absolute;
    top: 18%;
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
}

.owl-slider button.owl-prev {
    position: absolute;
    left: -45px;
}

.owl-slider button.owl-next {
    position: absolute;
    right: -49px;
}

.app_service_box img:hover {
    transform: scale(1.1);
}

.tab-style-one.wpb_tabs .wpb_tabs_nav a:hover {
    color: #fff;
}

.pollution_cntr .feature_box {
    text-align: center;
    padding: 40px 15px;
}

.feature_box img {
    width: 30%;
}

.quality_solution_section .introducing_box.sub_title_box {
    padding-bottom: 25px;
}

.top_space_heading .introducing_box.sub_title_box {
    padding-top: 75px;
}

.industries_application_section .app_service_box h4 {
    font-size: 22px;
    font-weight: 500;
}

.industries_application_section .app_service_box p {
    font-size: 17px;
    font-weight: 300;
}

.tab-style-one.wpb_tabs .wpb_tabs_nav a:hover {
    color: #fff !important;
}

.faq_ask_section .introducing_box.sub_title_box {
    padding: 20px 0 30px;
}

.sub_title_box .title_heading {
    text-align: center;
    color: #000;
    font-size: 36px;
    margin: 0 0 15px;
    font-weight: normal;
}

span.bold_text {
    font-weight: bold;
    color: #78AE60;
}

.pollution_cntr .feature_box p {
    font-size: 15px;
    color: #000;
    padding: 0 35px;
    font-weight: 300;
}

.school_img_box figure.wpb_wrapper.vc_figure {
    width: 100%;
}

.school_img_box .vc_single_image-wrapper.vc_box_border_grey {
    width: 100%;
}

.school_img_box img.vc_single_image-img.attachment-full {
    width: 100%;
}

.feature_box h2 {
    font-size: 18px;
    font-weight: bold;
}

.school_img_box {
    margin-top: 60px;
}

.faq_section .vc_tta-panel-body {
    padding-left: 0 !important;
}

.pollution_cntr .vc_column-inner {
    padding: 0 !important;
}

.vc_col-has-fill>.vc_column-inner,
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding: 0;
}

.introducing_box.sub_title_box {
    padding: 45px 0;
}

.app_service_box img {
    width: 100%;
}

.industrial_applications_box img {
    width: 100%;
}

.air_quality_box ul {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0;
}

.air_quality_box li {
    color: #000;
    padding-bottom: 10px;
    font-size: 18px;
}

.client_logo_section figure.wpb_wrapper.vc_figure {
    box-shadow: 2px -2px 8px -1px #ccc;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    height: 120px;
    transition: transform .4s;
}

.client_logo_section figure.wpb_wrapper.vc_figure:hover {
    transform: scale(1.1);
}

.slider_img_box {
    width: 55%;
    float: left;
}

.slider_details_box {
    width: 45%;
    float: left;
    padding: 0 30px;
}

.air_quality_tab_sec .wpb_content_element .wpb_tabs_nav {
    display: flex;
    justify-content: center;
}

.air_quality_tab_sec .wpb_tabs .wpb_tabs_nav li {
    position: relative;
    background: #78AE60 !important;
    margin: 12px 0 0 0 !important;
    box-shadow: 2px 2px 8px -1px #ccc;
}

.air_quality_tab_sec .wpb_tabs.tab-style-one .wpb_tabs_nav>li.ui-state-active {
    color: #000 !important;
    background-color: #fff !important;
}

#page .tab-style-one .wpb_tabs_nav li.ui-state-active a {
    color: #000;
    -webkit-text-fill-color: #000;
}

.tab-style-one.wpb_tabs .wpb_tabs_nav a {
    padding: 10px 35px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
}

.slider_details_box h3 {
    color: #000;
    font-size: 35px;
    font-weight: normal;
}

.slider_details_box span {
    padding: 5px 0 20px;
    font-size: 14px;
    font-style: italic;
    display: block;
}

ul.airquality_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.airquality_list li {
    margin-bottom: 7px;
}

.slider_cntr {
    max-width: 850px;
    margin: 22px auto;
}

ul.airquality_list li {
    background: url(/wp-content/uploads/2022/08/arrow.png)no-repeat;
    padding-left: 34px;
    background-size: 20px;
    background-position: 0 1px;
}

ul.airquality_list.red_list li {
    background: url(/wp-content/uploads/2022/08/red-arrow.png)no-repeat;
    background-size: 20px;
    background-position: 0 1px;
}

.air_quality_box h3 {
    color: #000;
    font-size: 25px;
    margin: 0 0 25px;
    font-weight: 500;
}

.air_graph_box {
    border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.air_quality_box ul.airquality_list {
    margin: 0 0 35px !important;
}

a.left.carousel-control,
a.right.carousel-control {
    background: none;
}

.slider_img_box img {
    border-radius: 7px;
}

a.knowmore_btn {
    background: #78AE60;
    padding: 8px 13px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}

a.rent_btn {
    font-size: 15px;
    color: #78AE60;
    margin: 30px 0 0 15px;
    display: inline-block;
}

.faq_section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    border: none;
    background: none;
}

.faq_section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
    color: #000;
    font-size: 20px;
}

.faq_section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a {
    color: #000;
}

.faq_section .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    border: none;
    background: none;
}

.faq_section .vc_tta.vc_general .vc_tta-panel.vc_active {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.faq_section .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
    left: auto;
    right: 15px;
}

.faq_section .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {
    padding-left: 0;
}

.airqulality_contact_section .contact_content_box {
    background: #78AE60;
    padding: 30px 15px 75px;
    width: 25%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

ul.rate_list {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    display: flex;
    gap: 15px;
}

.pocket_title_box .rate_list li {
    border-right: 1px solid #d6d5d5;
    padding-right: 12px;
}

.pocket_buy_btn {
    color: #fff;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 5px;
    margin-top: 0;
    text-decoration: none;
    box-shadow: 0 4px 0 0 #fdd28d;
    font-weight: 500;
    font-size: 16px;
    background: #66b355;
}

img.img-responsive.center-block {
    width: 100%;
    margin: 60px 0;
}

.contact_content_box:after {
    background: url(https://www.pranaair.com/wp-content/uploads/2022/08/circle_bg.png)no-repeat;
    width: 160px;
    height: 160px;
    content: "";
    position: absolute;
    bottom: -92px;
    left: -25px;
    z-index: 0;
    background-size: 66%;
}

.airqulality_contact_section .wpb_column.vc_column_container.vc_col-sm-9 {
    width: 60%;
    padding: 6px 0 0 40px;
}

.airquality_contact_box label br {
    display: none;
}

.airquality_contact_box input.wpcf7-form-control {
    width: 100%;
    margin-bottom: 15px !important;
    border: none;
    border-bottom: 1px solid #60606073;
    padding-left: 4px;
}

.airquality_contact_box label {
    width: 100%;
}

.contact_information_box h4 {
    font-size: 25px;
    color: #fff;
}

.contact_information_box p {
    color: #fff;
    font-weight: 300;
}

.airquality_contact_box textarea.wpcf7-form-control.wpcf7-textarea {
    max-height: 78px;
    border: none;
    border-bottom: 1px solid #60606073;
    padding-left: 4px;
}

ul.contact_info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.airquality_contact_box input.wpcf7-form-control.has-spinner.wpcf7-submit {
    background: #78AE60;
    border: none;
    width: auto;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.contact_info li {
    display: flex;
    align-items: center;
    color: #fff;
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
}

.contact_info li i {
    font-size: 21px;
    margin-right: 10px;
}

.contact_info {
    padding-top: 20px !important;
}

.airquality_inner_form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    max-width: 950px;
    margin: 0 auto 30px;
    box-shadow: 2px 2px 11px 0px #ccc;
}

.app_service_box h4 {
    font-size: 25px;
    color: #000;
    text-align: center;
    padding-top: 18px;
    font-weight: normal;
}

.app_service_box p {
    text-align: center;
}

.industries_application_section {
    padding: 0 0 60px;
}

.air_qualiity_right {
    padding-left: 12px;
}

a.left.carousel-control,
a.right.carousel-control {
    background: none;
    color: #78AE60;
    opacity: 1;
    box-shadow: inherit;
    text-shadow: inherit;
    font-size: 49px;
    top: 50%;
}

.airqulality_contact_section {
    margin-top: 45px;
    padding: 0 220px !important;
    position: relative;
}

.airquality_contact_box label {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #606060;
}

.faq_section .vc_tta-panel-body p {
    font-size: 20px;
    font-weight: 300;
    color: #606060;
}

label.message_text {
    color: #78AE60;
    font-weight: 500;
}

.contact-heading {
    padding-top: 100px !important;
}

.airqulality_contact_section:before {
    background: rgba(120, 174, 96, 0.1);
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 420px;
    z-index: -1;
}

.faq_section.faq_ask_section {
    padding: 0 220px !important;
}

.feature_wrap_box {
    padding-top: 25px;
}

.risk_box {
    text-align: center;
}

.risk_box img {
    width: 20%;
}

.feature_wrap_box h2 {
    font-size: 18px;
}

.feature_wrap_box p {
    font-size: 14px;
}

.airgraph_cntr {
    padding: 0 220px !important;
}

.solution-tab ul {
    justify-content: center;
}

.solution-tab ul .nav-link.active {
    background: #7ab261;
    color: #fff;
    padding: 10px 30px;
}

.solution-tab ul .nav-link {
    margin: 0px 30px;
}

.faq-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.accordion-button:not(.collapsed) {
    background: transparent;
    color: #0c0c0c;
}

.accordion-item {
    border: none;
}

@media screen and (min-width:1700px) and (max-width:2000px) {
    .pocket_title_box.school_aqi_box {
        padding: 110px 0 0 40%;
    }
}

@media screen and (max-width:767px) {
    .school_banner_box {
        padding: 0;
        background-size: cover;
        background-position: center;
    }

    .pocket_title_box.school_aqi_box h1 {
        font-size: 27px;
        line-height: normal;
    }

    .pocket_title_box.school_aqi_box p {
        font-size: 15px;
    }

    .pocket_title_box.school_aqi_box ul.rate_list li {
        font-size: 16px;
    }

    ul.rate_list li {
        font-size: 14px;
    }

    .pocket_title_box .rate_list {
        padding-top: 15px;
    }

    .pocket_title_box .rate_list .pocket_buy_btn {
        margin-top: 17px;
    }

    .sub_title_box .title_heading {
        font-size: 30px;
    }

    .pollution_cntr .feature_box p {
        padding: 0 12px;
    }

    .pollution_cntr .feature_box p {
        padding: 0;
    }

    .pollution_cntr .feature_box {
        padding: 13px 15px;
    }

    .slider_img_box {
        width: 100%;
        float: none;
    }

    .slider_details_box {
        width: 100%;
        float: none;
        padding: 0 5px;
    }

    .slider_details_box h3 {
        font-size: 18px;
    }

    .air_graph_box {
        padding: 30px 0;
    }

    .airqulality_contact_section .contact_content_box {
        background: #78AE60;
        padding: 13px 15px 10px;
        width: 100%;
    }

    .airqulality_contact_section .wpb_column.vc_column_container.vc_col-sm-9 {
        width: 100%;
        padding: 30px 15px 0;
    }

    .airquality_inner_form {
        padding: 20px 20px 0;
    }

    .faq_section .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {
        font-size: 14px;
        padding-left: 15px;
        line-height: normal;
    }

    .faq_section .vc_tta-panel-body p {
        font-size: 14px;
    }

    .app_service_box {
        padding-bottom: 35px;
        display: block;
    }

    .airquality_contact_box label {
        font-size: 14px;
    }

    .airquality_contact_box textarea.wpcf7-form-control.wpcf7-textarea {
        max-height: 65px;
    }

    .airquality_contact_box input.wpcf7-form-control {
        height: 30px;
    }

    .app_service_box h4 {
        font-size: 22px;
    }

    ul.airquality_list.red_list li {
        font-size: 16px;
    }

    .air_quality_box h3 {
        font-size: 22px;
    }

    .tab-style-one.wpb_tabs .wpb_tabs_nav a {
        padding: 10px 12px;
        font-size: 12px;
    }

    .air_graph_box {
        border-right: none;
    }

    .air_qualiity_right {
        padding: 10px 0;
    }

    .pollution_cntr .feature_box p {
        padding: 0;
        font-size: 14px;
    }

    .airqulality_contact_section {
        padding: 0 15px !important;
    }

    .faq_section.faq_ask_section {
        padding: 0 15px !important;
    }

    .faq_ask_section .introducing_box.sub_title_box {
        padding: 15px 0 30px;
    }

    a.left.carousel-control,
    a.right.carousel-control {
        display: none;
    }

    .introducing_box.sub_title_box {
        padding: 35px 0 20px;
    }

    .airgraph_cntr {
        padding: 0 15px !important;
    }

    .contact_information_box h4 {
        font-size: 22px;
    }

    .contact_information_box p {
        font-size: 14px;
    }

    body p,
    .inner-real-time-aqi .countrey-sec {
        font-size: 16px;
    }

    .tab-style-one.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
        padding: 0;
    }

    .feature_box img {
        width: 60px;
    }

    .feature_wrap_box {
        padding: 0 0 0 18px;
    }

    .pollution_cntr {
        padding: 0 10px;
    }

    .school_img_box {
        margin-top: 36px;
    }

    #myCarousel .carousel-indicators .active {
        width: 16px;
        height: 16px;
        margin: 0;
        background-color: #78AE60;
    }

    #myCarousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        border: 1px solid #78AE60;
        border-radius: 10px;
    }

    #myCarousel .carousel-indicators {
        bottom: -24px;
        left: 43%;
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    ul.airquality_list li {
        font-size: 16px;
    }

    .top_space_heading .introducing_box.sub_title_box {
        padding: 35px 0 40px;
    }

    .contact_info li {
        padding-bottom: 15px;
        font-size: 14px;
    }

    .contact_information_box ul.contact_info {
        padding: 10px 0 0 !important;
    }

    .client_logo_section .wpb_column.vc_column_container.vc_col-sm-3 {
        width: 50%;
        float: left;
    }

    .client_logo_section figure.wpb_wrapper.vc_figure {
        padding: 10px 15px;
        margin: 10px 0;
        height: 103px;
    }

    .banner_quality_box.wpb_column.vc_column_container.vc_col-sm-6 {
        width: 100%;
        position: relative;
        top: 1px;
    }

    .banner_quality_img_box.wpb_column.vc_column_container.vc_col-sm-6 {
        width: 100%;
    }

    .vc_row.wpb_row.vc_row-fluid.school_banner_box.vc_custom_1659419765553.vc_row-has-fill {
        flex-direction: column-reverse;
        display: flex;
        height: 605px;
        background-position: 97% -75px !important;
        background-repeat: no-repeat !important;
        background-size: 689px !important;
    }

    .pocket_title_box.school_aqi_box {
        padding: 10px 30px 30px;
    }

    span.vs_text {
        display: block;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: 22px;
    }

    .owl-slider {
        padding: 0 25px;
    }

    .owl-slider .owl-nav button span {
        font-size: 82px;
    }

    .owl-slider button.owl-prev {
        position: absolute;
        left: -30px;
    }

    .owl-slider button.owl-next {
        position: absolute;
        right: -30px;
    }

    .school_banner_box {
        padding: 0;
    }

    .school_img_box {
        min-height: 495px !important;
    }

    li.second_school_box {
        top: 127px;
        left: 10px;
    }

    li.third_school_box {
        left: 133px;
        top: 4px;
    }

    li.first_school_box {
        left: 44px;
    }

    .schhol_text_box {
        display: none;
        min-width: 240px;
        padding: 12px 15px;
    }

    .schhol_text_box h3 {
        font-size: 18px;
    }

    .schhol_text_box p {
        color: #fff;
        font-size: 12px;
    }

    .school_box_cntr {
        width: 100%;
        float: none;
        padding: 65px 0 0;
    }

    li.fourth_school_box {
        top: 124px;
        left: 0px;
    }

    li.first_school_box .schhol_text_box {
        display: block;
    }

    li.fourth_school_box .schhol_text_box {
        position: relative;
        left: -231px;
        z-index: -1;
    }

    li.second_school_box .schhol_text_box {
        position: relative;
        left: -158px;
        z-index: -1;
        min-width: inherit !important;
        width: 142px;
        top: -12px;
    }

    .vc_row.wpb_row.vc_row-fluid.school_img_box.vc_custom_1660844203328.vc_row-has-fill.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex {
        background-size: cover !important;
    }

    .vc_row.wpb_row.vc_row-fluid.school_banner_box.vc_row-has-fill {
        flex-direction: column-reverse;
        display: flex;
        height: 665px;
        padding-top: 20px;
        background-position: 97% -75px !important;
        background-repeat: no-repeat !important;
        background-size: 689px !important;
    }

    .school_banner_box {
        background-size: cover;
        background-position: center;
    }

    .pollution_cntr .feature_box p {
        padding: 0 0px;
    }

    li.first_school_box {
        left: 0px;
    }

    .client_logo_section img {
        width: 40%;
        display: block;
        margin: 0 auto 20px;
    }

    li.second_school_box {
        left: 0;
    }

    li.third_school_box {
        left: 50px;
        top: 60px;
    }

    .airgraph_cntr {
        padding: 0 0px !important;
    }

    .airqulality_contact_section {
        padding: 0 0px !important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .airgraph_cntr {
        padding: 0px 100px !important;
    }
    ul.airquality_list li {
        padding-left: 0;
    }
    .client_logo_section img {
        width: 60%;
    }
    .box-form {
        width: 100%;
    }
    .airqulality_contact_section {
        padding: 0 !important;
    }
}