@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth
}

main.main.py-4 {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    font-family: 'Mukta' !important;
}

p {
    margin: 0 !important;
    font-family: 'Mukta' !important;

}

a {
    font-family: 'Mukta' !important;
}

.hero-img img {
    width: 100%;
    height: auto;
}

.tab-content-wrapper {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    min-height: 250px;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.hero-content {
    position: absolute;
    top: 300px;
    left: 60px;
    text-align: left;
}

.hero-content span {
    color: #F9FAFF;
    font-size: 1.5rem;
}

.hero-content h1 {
    color: #F9FAFF;
    font-size: 3rem;
    ;
    font-weight: 300;
    padding-top: 0.625rem;
    width: 56%;
    line-height: 3.25rem;
}

.hero-content p {
    color: #FFFFFFCC;
    font-size: 1.125rem;
    font-weight: 300;
    padding-top: 2.5rem;
    width: 60%;
}

.hero-content:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(91deg, #ffffff00, #fff, #ffffff00);
    width: 60%;
    height: 1px;
    left: 0;
    top: 11.875rem;
}

.hero-btn {
    background: #7ab261;
    color: #fff;
    font-size: 16px;
    padding-left: 1.875rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
    justify-content: space-between;
    border-top: 1px solid #ffffff6e;
    border-left: 1px solid #ffffff6e;
    margin-top: 2.5rem;
}

ul.hero-tab-button {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    position: relative;
    bottom: 9.375rem;
    left: 3.75rem;
    width: 50%;
}

ul.hero-tab-button li button {
    background: #2F577480;
    border-radius: 10px;
    padding: 0.75rem 1.875rem;
    color: #ffffffc7;
    font-weight: 400;
    border-top: 1px solid #ffffff70;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(18px);
}

ul.hero-tab-button li .active {
    color: #ffffff;
    background: #2f5774e0;
}

ul.hero-tab-button li button:hover {
    color: #fff !important;
}

.hero-section .tab-content-wrapper {
    position: relative;
}

.hero-section .tab-content-wrapper:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(90deg, #00000069, transparent);
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
}

section.explore-our {
    padding-top: 120px;
}

.main-headign {
    text-align: center;
}

span.sub-heading {
    color: #263D4F;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-bottom: 5px;
    display: block;
}

.page-heading {
    color: #263D4F;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    padding-bottom: 5px;
}

.main-headign p {
    color: #263D4FCC;
    font-size: 18px;
    font-weight: 400;
}

ul#partsLabelTab {
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
    background: #14281180;
    border-radius: 15px;
    padding: 5px;
    width: 25%;
    float: right;
    position: relative;
    top: 100px;
    left: -150px;
    border: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
}

ul#partsLabelTab button.nav-link.active {
    background: #7AB261;
    border: 1px solid #ffffff85;
    border-bottom: 0;
    border-radius: 10px;
}

ul#partsLabelTab button.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    font-family: Mukta;
}

ul#partsLabelTab button.nav-link:hover {
    background: #7AB261;
    border: 1px solid #ffffff85;
    border-bottom: 0;
    border-radius: 10px;
}

.choose-monitor-img img {
    width: 100%;
    height: auto;
}

.choose-monitor-img {
    margin-left: -40px;
    margin-top: 15px;
}

div#partsLabelTabContent {
    margin: 0 40px;
}

.main-box {
    background: radial-gradient(circle, #beffccd9 10%, #ebf9e6 90%);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
    padding: 40px 40px 80px;
}

.choose-monitor-txt h3 {
    color: #263D4F;
    font-size: 22px;
    font-weight: 400;
}

.choose-monitor-txt p {
    color: #263D4FCC;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    width: 60%;
}

.choose-monitor-txt {
    border-bottom: 1px solid #263D4F1A;
    padding: 0px 10px 20px;
}

.feature {
    padding-top: 20px;
    padding-left: 10px;
}

.feature p {
    color: #263D4F;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.feature ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.feature ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.feature ul li span img {
    width: 35px;
    height: auto;
}

.feature ul li span {
    color: #263D4FCC;
    font-family: 'Mukta';
    font-size: 15px;
}

.parameters {
    border-top: 1px solid #263d4f17;
    border-bottom: 1px solid #263d4f17;
    margin-top: 30px;
}

.parameters ul {
    list-style: none;
    padding: 0 10px 0;
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.parameters ul li {
    color: #263d4fcf;
    font-size: 14px;
    border: 1px solid #263d4f52;
    border-radius: 10px;
    padding: 5px 20px;
}

.button-brochure ul {
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: anchor-center;
}

.button-brochure ul li a {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    color: #3FA512;
    font-size: 16px;
    font-weight: 400;
}

.button-brochure ul li a img {
    width: 20px;
    height: auto;
}

.button-brochure ul li:last-child a {
    border: 1px solid #3FA512;
    border-radius: 10px;
    padding: 5px 15px;
    align-items: center;
}

.button-brochure ul li:last-child a img {
    width: 12px;
}

.button-brochure ul li:last-child a:hover {
    background: #ffffff;
}

section.performance {
    padding-top: 120px;
    margin: 0 40px;
}

.perform-heading h2 {
    width: 25%;
}

.performance-meets ul {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
    display: flex;
    gap: 10px;
}

.performance-meets ul li {
    height: 280px;
    background: #F1F5F0;
    border-radius: 15px;
    width: 280px;
    padding-top: 100px;
    padding-left: 30px;
    transition: .2s linear;
}

.performance-meets ul li img {
    width: 65px;
    height: auto;
}

.performance-meets ul li p {
    padding-top: 20px;
    color: #263D4F;
    font-size: 18px;
    width: 63%;
    line-height: 24px;
}

.performance-meets ul li:hover {
    background: radial-gradient(circle, #beffccd9 10%, #ebf9e6 90%);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
    transform: scale(1.05);
}

.performance-meets ul li:hover p {
    color: #3FA512;
}

.insights-tab {
    padding-top: 150px;
}

.weather {
    background: url(/img/prana-sense-with-weather-station.webp);
}

.sense {
    background: url(/img/scalable-air-monitoring.webp);
}

.ambient-pro {
    background: url(/img/built-weather-monitor-station.webp);
}

.common-bg {
    height: 700px;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-left: 100px;
}

.common-bg span {
    color: #EAEAEA;
    font-family: 'Mukta';
    text-transform: uppercase;
}

.common-bg h2 {
    color: #EAEAEA;
    font-size: 32px;
    font-weight: 600;
    width: 30%;
}

.common-bg p {
    color: #BEC3C7CC;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    width: 31%;
}

.common-bg a {
    width: 12%;
    margin-top: 30px;
}

ul#partsLabelTab2 {
    justify-content: space-around;
    position: relative;
    top: -70px;
    border-top: 1.5px solid #ffffff3b;
    border-bottom: 0;
    margin: 0 auto;
    width: 45%;
}

ul#partsLabelTab2:before {
    position: absolute;
    content: "";
    background: url(/img/inbuilt-weather-station.png);
    background-size: 100%;
    width: 20%;
    height: 60px;
    right: 15px;
    top: -20px;
    background-repeat: no-repeat;
}

ul#partsLabelTab2 button.active {
    background: none;
    border: 0;
    color: #fff;
    position: relative;
}

ul#partsLabelTab2 button {
    padding: 20px 0;
    color: #ffffffa6;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: block;
}

ul#partsLabelTab2 button.active:before {
    position: absolute;
    content: "";
    background: #7AB261;
    width: 100%;
    height: 3px;
    top: -2px;
    left: 0;
}

ul#partsLabelTab2 li {
    width: 33%;
    text-align: center;
}

ul#partsLabelTab2 button:hover {
    border: none;
    color: #fff;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 36px;
    color: #000;
    cursor: pointer;
    padding: 1px 12px 3px 10px;
    border-radius: 50%;
}

.custom-arrow.left {
    left: 10px;
}

.custom-arrow.right {
    right: 10px;
}

.carousel-container {
    scroll-behavior: smooth !important;
}

.react-multi-carousel-track {
    transition: all 0.4s ease !important;
}

.react-multi-carousel-track {
    will-change: transform;
    transform: translateZ(0);
}

.app-slide-review-box img {
    width: 100%;
    height: auto;
}

.app-slide-review-box {
    margin: 0 5px;
}

.react-multi-carousel-item {
    filter: opacity(.5);
    transform: scale(0.95);
}

.react-multi-carousel-item--active {
    filter: none !important;
    transform: none !important;
}

section.built-scenario {
    padding-top: 100px;
}

.built-heading {
    padding-left: 40px;
    padding-bottom: 60px;
}

.built-heading h2 {
    width: 30%;
}

.built-heading p {
    color: #263D4FCC;
    font-size: 18px;
    padding-top: 5px;
    width: 50%;
}

.app-slide-review-box h4 {
    color: #263D4F;
    font-size: 18px;
    padding-top: 20px;
}

.app-slide-review-box p {
    color: #263d4fcc;
    font-size: 15px;
    width: 50%;
    padding-top: 5px;
}

section.toxic-img {
    background: url(/img/mode-connectivity-bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 140px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.toxic-heading {
    padding-left: 40px;
    padding-bottom: 40px;
}

.toxic-heading span {
    color: #FEFEFE;
}

.toxic-heading h2 {
    color: #FEFEFE;
}

.aqm-device img {
    width: 40%;
    height: auto;
}

.aqm-device p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

.aqm-device {
    text-align: center;
}

.type-device ul {
    background: #191C18;
    list-style: none;
    padding: 10px 0;
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ffffff3d;
    border-radius: 50px 50px 50px 50px;
    border-bottom: 1px solid #ffffff30;
    gap: 10px;
}

.type-device ul li {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.type-device ul li img {
    width: 80px;
    height: auto;
}

.type-device p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.type-device {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.mob-tv ul li {
    flex-direction: column;
}

.mob-tv ul li p {
    padding-top: 10px;
    font-size: 16px;
}

.mob-tv ul {
    padding: 40px 0;
}

.mob-tv ul li img {
    width: 95px;
}

.mob-row {
    align-items: center;
}

.arrow {
    position: relative;
}

.arrow:before {
    position: absolute;
    content: "";
    background: url(/img/connectivity-arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 50px;
    left: 300px;
    top: 70px;
}

section.reliable {
    margin-top: 140px;
}

.accurate-box img {
    width: 100%;
    height: auto;
}

.accurate-text {
    position: absolute;
    bottom: 0;
    top: 55%;
    transform: translateY(-50%);
    left: 200px;
}

.accurate-text a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    gap: 5px;
}

.accurate-text a img {
    width: 15px;
    height: auto;
    transition: .2s linear;
}

.accurate-text span {
    color: #fff;
}

.accurate-text h2 {
    color: #fff;
    padding-bottom: 30px;
}

.accurate-text a:hover img {
    transform: rotate(45deg);
}

.type-device.arrow:before {
    top: 155px;
    width: 70%;
    left: 250px;
}

.reliable .react-multiple-carousel__arrow--left:before {
    background: url(/img/accurate-slide-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-180deg);
    content: "" !important;
}

.reliable .react-multiple-carousel__arrow--right:before {
    background: url(/img/accurate-slide-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    content: "" !important;
}

.reliable .react-multiple-carousel__arrow {
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 70px;
    margin-top: 190px;
    margin-left: 130px;
}

.reliable .react-multiple-carousel__arrow--right {
    right: calc(78% + 30px) !important;
}

section.part-label {
    background: #323B44;
    margin-top: -15px;
    padding-top: 60px;
}

.part-heaidng span {
    color: #fff;
}

.part-heaidng h2 {
    color: #fff;
}

ul#partsLabelTab3 {
    margin-top: 20px;
    justify-content: space-between;
    gap: 0px;
    background: #1428114D;
    border-radius: 15px;
    padding: 5px;
    width: 50%;
    float: right;
    position: relative;
    left: -150px;
    border: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    border-top: 1px solid #ffffff7d;
}

ul#partsLabelTab3 button.nav-link.active {
    background: #7ab261;
    border: 1px solid #ffffff85;
    border-bottom: 0;
    border-radius: 10px;
}

ul#partsLabelTab3 button.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    font-family: Mukta;
}

ul#partsLabelTab3 button.nav-link:hover {
    border: 0;
}

.part-heaidng {
    padding-left: 40px;
}

.part-item-img img {
    width: 90%;
    height: auto;
}

.part-item-img {
    text-align: right;
}

.part-ponts ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
}

.part-ponts ul li {
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 20px;
    width: 250px;
}

.part-ponts ul li span {
    background: #7ab261;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: block;
    text-align: center;
    border: 5px solid #20321796;
}

.part-ponts ul li p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.part-ponts {
    padding-top: 150px;
}

.ama {
    background: url(/img/aqi-mobile-ap.webp);
}

.aqd {
    background: url(/img/aqi-mobile-ap.webp);
}

.ata {
    background: url(/img/aqi-mobile-ap.webp);
}

.data-box {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    border-radius: 52px;
    background-position: bottom;
}

.logo-brand-aq img {
    width: 7%;
    height: auto;
}

.data-text h3 {
    color: #fff;
}

.data-text p {
    color: #fff;
}

.data-text ul li img {
    width: 100%;
}

.logo-brand-aq {
    text-align: right;
}

.logo-brand-aq {
    padding: 30px;
}

.real-time ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.real-time {
    background: #8d8d8dc7;
    box-shadow: 0 10px 32px #8e8e8e1f;
    border-radius: 30px;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    padding: 30px 50px;
    margin: 150px auto 0;
    width: 95%;
}

.real-time ul li {
    display: flex;
    align-items: center;
    gap: 25px;
}

.real-time ul li img {
    width: 15%;
    height: auto;
}

.real-time ul li p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
}

ul#partsLabelTab4 {
    margin-top: 40px;
    justify-content: space-between;
    gap: 20px;
    background: #1428114D;
    border-radius: 15px;
    padding: 5px;
    width: 57%;
    float: right;
    position: relative;
    top: 0;
    left: 0;
    border: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    margin-bottom: 50px;
}

ul#partsLabelTab4 button.nav-link.active {
    background: #7AB261;
    border: 1px solid #ffffff85;
    border-bottom: 0;
    border-radius: 10px;
}

ul#partsLabelTab4 button.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    font-family: Mukta;
}

ul#partsLabelTab4 button.nav-link:hover {
    border: none;
}

section.data-access {
    margin: 140px 80px 0;
}

.data-text ul {
    padding: 40px 0 0;
    list-style: none;
    margin: 0;
    display: flex;
    width: 70%;
    gap: 15px;
}

.data-text {
    width: 35%;
    padding-top: 150px;
    margin-left: auto;
}

.construction-site .container {
    background: url(/img/construction-covered-by-ambient-monitor.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    margin-top: 130px;
    text-align: center;
    padding-top: 80px;
}

.construction-site .container span {
    color: #fff;
}

.construction-site .container h2 {
    color: #fff;
}

.construction-site .container a {
    margin: 30px auto;
}

.float-img ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.float-img ul li img {
    width: 100%;
    height: auto;
}

.float-img {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.float-img ul li {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.float-img ul li:first-child {
    animation-duration: 2s;
}

.float-img ul li:last-child {
    animation-duration: 2.5s;
}

.case-study {
    padding-top: 130px;
}

.case-heading p {
    color: #263D4FCC;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 400;
    width: 30%;
}

.case-heading {
    padding-bottom: 70px;
    padding-left: 50px;
}

.case-slider {
    margin-left: 50px;
    padding-bottom: 150px;
}

.app-slide-review-box h3 {
    color: #263D4F;
    font-size: 20px;
    padding-top: 25px;
    width: 70%;
}

.case-slider .react-multiple-carousel__arrow--right:before {
    background: url(/img/accurate-slide-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    content: "" !important;
    filter: invert(1);
}

.case-slider .react-multiple-carousel__arrow--left:before {
    background: url(/img/accurate-slide-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-180deg);
    content: "" !important;
    filter: invert(1);
}

.case-slider .react-multiple-carousel__arrow {
    background: none;
    border: 1px solid #0b0b0b91;
    border-radius: 10px;
    width: 70px;
    margin-top: 530px;
}

.case-slider .react-multiple-carousel__arrow--left {
    left: calc(85% + 20px) !important;
}

.comparison-section {
    margin: 0 auto;
    padding: 40px 200px;
    background: radial-gradient(circle, #beffcc73 10%, #f1ffebad 50%);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
}

.comparison-section h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.comparison-section h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

.table-wrapper {
    overflow-x: auto;
    border-radius: 12px;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 15px;
}

.comparison-table th,
.comparison-table td {
    padding: 16px;
    border-bottom: 1px solid #263d4f21;
    vertical-align: top;
    color: #263D4F;
    font-size: 14px;
    font-weight: 600;
}

.comparison-table th {
    font-weight: 600;
    color: #263D4F;
    width: 25%;
}

.comparison-table tr:last-child td {
    border-bottom: none;
}

.buttons-row td {
    padding-top: 24px;
}

.compare-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.download-brochur {
    color: #3FA512;
    font-size: 16px;
    font-weight: 300;
}

a.quote {
    font-size: 16px;
    color: #3FA512;
    font-weight: 300;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid #3FA512;
    border-radius: 10px;
    padding: 8px;
    width: 70%;
}

a.quote img {
    height: 13px;
    width: 13px;
}

.details-heading {
    padding-left: 50px;
    padding-bottom: 60px;
}

.compar-heading th:first-child {
    font-size: 16px;
}

.compar-heading th {
    color: #263D4F;
    font-size: 18px;
}

.compar-heading th span {
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px 40px;
    margin-bottom: 20px;
    display: block;
    width: 70%;
    text-align: center;
}

.comparison-table tbody tr td:first-child {
    color: #263D4FB2;
}

.marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto 0
}

.marquee-inner {
    display: flex;
    animation: marquee 20s linear infinite;
    gap: 10px
}

.marquee-inner-rgt {
    gap: 10px;
    animation: 20s linear infinite marquee-rgt;
    display: flex;
    padding-top: 15px;
}

.marquee-inner img {
    width: 80%
}

.marquee-inner-rgt img {
    width: 80%;
}

.all-company-sec .wpb_content_element {
    margin-bottom: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes marquee-rgt {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

.marquee-img-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

.marquee-img-box ul li {
    width: 170px;
    text-align: center;
    background: #fff;
    height: 100px;
    padding-top: 10px;
}

.client-heading {
    text-align: center;
    padding-bottom: 40px;
}

.all-company-sec {
    padding-top: 130px;
    position: relative;
}

.all-company-sec:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(90deg, #ffffff, transparent);
    width: 30%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.all-company-sec:after {
    position: absolute;
    content: "";
    background-image: linear-gradient(270deg, #ffffff, transparent);
    width: 30%;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.caqm-section {
    padding: 200px 50px 100px;
}

.caqm-section .container-fluid {
    padding: 0 100px;
}


.comparison-grid ul li {
    font-family: 'Mukta';
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.comparison-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
}

.feature-list ul,
.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-list ul li {
    padding: 12px 0;
    font-weight: 500;
    color: #263D4FB2;
    font-size: 16px;
}

.feature-list {
    padding-top: 280px;
}

.compare-heading h2 {
    width: 20%;
}

.compare-heading {
    margin-bottom: -200px;
}

.compare-img img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.compare-img h3 {
    color: #263D4F;
    font-size: 16px;
    text-align: center;
    border: 1px solid #263D4F;
    padding: 10px;
    border-radius: 110px;
    width: 40%;
    margin: 0 auto 30px !important;
}

.column {
    padding: 20px;
    border: 1px solid #eee;
}

.column img {
    max-width: 60px;
    margin-bottom: 10px;
}

.column h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.prana {
    background: radial-gradient(circle, #beffcc73 10%, #f1ffebad 50%);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
}

.traditional {
    background: radial-gradient(circle, #E7EFFF 10%, #F4F8FF 50%);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);
}

.column ul li {
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    color: #263D4F;
    font-weight: 600;
}

/* Responsive styling */
@media (max-width: 480px) {
    section.hero-section {
        margin-top: 70px;
    }

    .hero-section .tab-content-wrapper:before {
        background-image: linear-gradient(90deg, #000000b5, #0000);
        width: 60%;
        left: 0;
        top: 0;
    }

    .hero-img {
        overflow: hidden;
    }

    .hero-img img {
        width: 950px;
        height: auto;
        margin-left: -350px;
    }

    .hero-content {
        top: 20px;
        left: 0;
        padding-left: 20px;
    }

    .hero-content:before {
        display: none;
    }

    .hero-content span {
        font-size: 16px;
    }

    .hero-content h1 {
        font-size: 26px;
        width: 75%;
        line-height: 30px;
    }

    .hero-content p {
        font-size: 14px;
        padding-top: 25px;
        width: 60%;
    }

    .hero-btn {
        font-size: 14px;
        gap: 10px;
        width: 47%;
        margin-top: 20px;
    }

    ul.hero-tab-button {
        align-items: center;
        gap: 15px;
        bottom: 60px;
        left: 0px;
        justify-content: center;
        width: 100%;
    }

    ul.hero-tab-button li button {
        padding: 10px;
    }

    section.explore-our {
        padding-top: 20px;
    }

    span.sub-heading {
        font-size: 16px;
    }

    .page-heading {
        font-size: 24px;
        line-height: 30px;
    }

    .main-headign p {
        font-size: 16px;
    }

    ul#partsLabelTab {
        justify-content: space-between;
        gap: 6px;
        padding: 5px;
        width: 80%;
        float: none;
        top: 0;
        left: 0;
        flex-wrap: nowrap;
        margin: 20px auto -50px;
    }

    ul#partsLabelTab li {
        width: 100%;
    }

    ul#partsLabelTab button.nav-link {
        font-size: 13px;
        padding: 8px 5px;
        width: 100%;
        display: block;
    }

    .button-brochure ul li a {
        font-size: 14px;
    }

    div#partsLabelTabContent {
        margin: 0 10px;
    }

    .mob-row {
        flex-direction: column-reverse;
    }

    .main-box {
        padding: 20px 10px 70px;
    }

    .choose-monitor-txt h3 {
        font-size: 20px;
    }

    .choose-monitor-txt p {
        font-size: 14px;
        padding-top: 10px;
        width: 90%;
    }

    .choose-monitor-img {
        margin-left: 0;
        margin-top: 0;
    }

    .choose-monitor-img img {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .feature ul li {
        align-items: flex-start;
        flex-direction: column;
    }

    .parameters ul {
        padding: 0 10px;
        margin: 20px 0;
        display: block;
    }

    .parameters {
        margin-top: 10px;
    }

    .parameters ul li {
        font-size: 12px;
        padding: 5px 20px;
        display: inline-block;
        margin: 3px;
    }

    .button-brochure ul {
        justify-content: center;
    }

    section.performance {
        padding-top: 80px;
        margin: 0px 10px;
    }

    .perform-heading h2 {
        width: 75%;
    }

    .performance-meets ul {
        margin: 40px 0 0;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .performance-meets ul li {
        height: 200px;
        width: 100%;
        padding-top: 70px;
        padding-left: 20px;
    }

    .performance-meets ul li img {
        width: 45px;
        height: auto;
    }

    .performance-meets ul li p {
        padding-top: 20px;
        font-size: 14px;
        width: 90%;
        line-height: 14px;
    }

    .insights-tab {
        padding-top: 100px;
    }

    .common-bg {
        height: 700px;
        background-position: -800px center;
        padding-top: 20px;
        padding-left: 20px;
    }

    .common-bg h2 {
        font-size: 24px;
        width: 90%;
    }

    .common-bg p {
        font-size: 16px;
        padding-top: 10px;
        width: 90%;
        color: #ffffffcc;
    }

    .common-bg a {
        width: 50%;
        margin-top: 20px;
    }

    ul#partsLabelTab2 {
        top: -70px;
        margin: 0 auto;
        width: 90%;
    }

    ul#partsLabelTab2:before {
        width: 30%;
        height: 60px;
        right: 0px;
        top: -15px;
    }

    section.built-scenario {
        padding-top: 50px;
    }

    .built-heading {
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .built-heading h2 {
        width: 100%;
    }

    .built-heading p {
        font-size: 16px;
        width: 100%;
    }

    .app-slide-review-box p {
        font-size: 14px;
        width: 100%;
    }

    section.toxic-img {
        background-size: cover;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        background-position: bottom;
        border-radius: 50px;
    }

    .toxic-heading {
        padding-left: 0;
        padding-bottom: 30px;
    }

    .type-device ul {
        padding: 10px 0;
        margin: 0 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        justify-content: space-around;
    }

    .mob-tv ul {
        padding: 20px 0;
    }

    .mob-tv ul li {
        flex-direction: column;
    }

    .mob-tv ul li img {
        width: 70px;
    }

    .aqm-device img {
        width: 30%;
    }

    .aqm-device p {
        font-size: 16px;
    }

    .type-device ul li {
        flex-direction: column;
    }

    .type-device.arrow:before {
        left: -40px;
        top: 200px;
        width: 20%;
        transform: rotate(90deg);
        right: 0;
        margin: 0 auto;
    }

    section.reliable {
        margin-top: 100px;
    }

    .arrow:before {
        left: -40px;
        top: 150px;
        width: 20%;
        transform: rotate(90deg);
        right: 0;
        margin: 0 auto;
    }

    .type-device {
        width: 100%;
    }

    .mob-row-flex {
        gap: 110px;
    }

    .reliable .react-multiple-carousel__arrow {
        display: none;
    }

    .accurate-text {
        bottom: 0;
        top: 35%;
        left: 10px;
    }

    .accurate-text h2 {
        padding-bottom: 10px;
        font-size: 18px;
        width: 70%;
        line-height: 22px;
    }

    .accurate-text a {
        font-size: 16px;
    }

    .part-heaidng {
        padding-left: 10px;
    }

    ul#partsLabelTab3 {
        margin-top: 10px;
        border-radius: 12px;
        width: 95%;
        float: none;
        left: 0;
    }

    .part-ponts ul li p {
        font-size: 14px;
    }

    ul#partsLabelTab3 button.nav-link {
        font-size: 14px;
        padding: 6px 10px;
    }

    .part-item-img img {
        margin: 0 auto;
        display: block;
    }

    .part-ponts {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .part-ponts ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .part-ponts ul li {
        width: 100%;
    }

    section.data-access {
        margin: 50px 20px 0;
    }

    ul#partsLabelTab4 {
        margin-top: 20px;
        gap: 0px;
        width: 100%;
        float: none;
        top: 0;
        left: 0;
    }

    ul#partsLabelTab4 button.nav-link {
        padding: 10px;
    }

    .logo-brand-aq img {
        width: 25%;
    }

    .logo-brand-aq {
        padding: 20px;
    }

    .data-box {
        background-size: cover;
        height: 700px;
        border-radius: 30px;
        text-align: left;
        background-position: -600px center;
        position: relative;
        overflow: hidden;
    }

    .data-box:before {
        position: absolute;
        content: "";
        background-image: linear-gradient(179deg, black, transparent);
        width: 100%;
        height: 30%;
        top: 0;
    }

    .logo-brand-aq {
        padding: 20px;
        position: relative;
    }

    .data-text {
        width: 95%;
        padding-top: 0;
        margin-left: 10px;
        position: relative;
    }

    .data-text ul {
        padding: 10px 0 0;
        width: 70%;
        gap: 15px;
    }

    .data-text ul li img {
        height: auto;
    }

    .real-time {
        border-radius: 30px;
        padding: 20px 0px;
        margin: 250px auto 0;
        width: 95%;
    }

    .real-time ul {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 2fr);
    }

    .real-time ul li {
        gap: 10px;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 20px;
        align-items: flex-start;
    }

    .real-time ul li p {
        font-size: 14px;
        line-height: 18px;
    }

    .real-time ul li img {
        width: 25%;
    }

    .construction-site .container {
        background-size: cover;
        height: 500px;
        margin-top: 60px;
        padding-top: 10px;
        background-position: center;
    }

    .construction-site .container a {
        margin: 10px auto;
    }

    .float-img {
        width: 100%;
        top: 130px;
    }

    .float-img ul {
        display: block;
    }

    .float-img ul li {
        display: inline-block;
        width: 50%;
    }

    .case-study {
        padding-top: 50px;
    }

    .case-heading {
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .case-heading p {
        font-size: 16px;
        padding-top: 5px;
        width: 90%;
    }

    .case-slider {
        margin-left: 10px;
        padding-bottom: 80px;
    }

    .app-slide-review-box h3 {
        font-size: 18px;
    }

    .case-slider .react-multiple-carousel__arrow--left {
        left: calc(57% + 20px) !important;
    }

    .case-slider .react-multiple-carousel__arrow {
        width: 60px;
        margin-top: 500px;
    }

    .details-heading {
        padding-left: 20px;
        padding-bottom: 30px;
    }

    tr.compar-heading {
        display: flex;
    }

    .compar-heading th:first-child {
        font-size: 16px;
    }

    .compar-heading th {
        font-size: 18px;
    }

    .compar-heading th span {
        padding: 0px 20px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .comparison-table tbody tr {
        display: flex;
    }

    .comparison-table th,
    .comparison-table td {
        font-size: 14px;
        width: 170px;
    }

    a.download-brochur {
        font-size: 14px;
    }

    a.quote {
        font-size: 14px;
        width: 100%;
    }

    .all-company-sec {
        padding-top: 70px;
    }

    .marquee-inner {
        animation: 10s linear infinite marquee;
    }

    .marquee-img-box ul {
        gap: 0px;
    }

    .marquee-img-box ul li {
        width: 120px;
        height: 80px;
    }

    .marquee-inner img {
        width: 100%;
    }

    marquee-rgt animation {
        transform: translateX(-1.19345%);
    }

    .marquee-inner-rgt {
        animation: 10s linear infinite marquee-rgt;
    }

    .marquee-inner-rgt img {
        width: 100%;
    }

    .all-company-sec:before {
        width: 20%;
    }

    .all-company-sec::after {
        width: 20%;
    }

    .comparison-section {
        padding: 40px 0px;
    }

    .caqm-section {
        padding: 100px 30px 100px;
    }

    .compare-heading {
        margin-bottom: 0;
    }

    .compare-heading h2 {
        width: 90%;
    }

    .comparison-grid {
        display: flex;
        overflow-x: auto;
    }

    .feature-list {
        padding-top: 270px;
    }

    .feature-list ul {
        width: 100px;
    }

    .feature-list ul li {
        padding: 13px 0;
        font-size: 14px;
    }

    .compare-img img {
        width: 85%;
    }

    .compare-img h3 {
        font-size: 16px;
        padding: 10px;
        width: 90%;
        margin: 0 auto 30px !important;
    }

    .column ul li {
        font-size: 14px;
    }

    .column {
        width: 200px;
    }

    .caqm-section .container-fluid {
        padding: 0;
    }
}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}