@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,700&display=swap');

.read-more {
  display: none;
}

.btn {
  border-radius: 0.12em;
  border: none;
  outline: none;
  color: #2AB6E9;
  font-family: 'Nunito Sans';
  cursor: pointer;
  background: no-repeat;
  position: relative;
  font-size: 15px;
}

.extra-content {
  display: initial;
  padding-top: 0 !important;
}

.show {
  display: initial !important;
}

.article p {
  margin-bottom: 0;
}

@media (max-width: 920px) {

  .read-more {
    display: initial;
  }

  .extra-content {
    display: none;
  }



}





.home-slider ul.slick-dots li:last-child i:before {
  content: "\e602" !important;
}

.home-slider ul.slick-dots li i:before {
  content: "\e603" !important;
}

.home-slider ul.slick-dots li i {
  font-size: 19px;
}

.home-slider ul.slick-dots li:last-child {
  margin-left: 10px;
}


.deskshow {
  display: block;
}

.mobshow {
  display: none;
}

p {
  font-family: 'Nunito Sans';
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.disply {
  display: block;
}


/* ******************new-css***************** */


.new-buy {
  margin-top: 15px !important;
  margin-bottom: -5px !important;
}





.tab button {
  padding: 0px;
  background: #eee;
}

.keychain-monitor-section {
  padding-top: 50px;
}

.tab {
  text-align: center;
  background: none;
  border: 0;
  display: flex;
  justify-content: space-around;
}

.tabcontent img {
  width: 396px;
}

.tablinks img {
  width: 67px;
}

button.tablinks {
  border: 0 !important;
  margin: 0 6px;
}

.tab button.active {
  background-color: #69b555;
}

.product-text {
  padding-top: 50px;
  padding-left: 30px;
}

.inner-product-txt h1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Nunito Sans';
}

.inner-product-txt h4 {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Nunito Sans';
}

.inner-product-txt p {
  font-size: 20px;
  font-weight: 600;
  color: #677580;
  padding-top: 15px;
  font-family: 'Nunito Sans';
}

.inner-product-txt {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.mrp-sec {
  padding-top: 30px;
}

.mrp-sec h6 {
  font-size: 16px;
  text-transform: capitalize;
  color: #31343D;
  margin: 0;
}

.mrp-sec h5 {
  font-size: 22px;
  color: #7AB261;
  font-family: 'Nunito Sans';
}

.mrp-sec p {
  font-size: 16px;
  color: #677580;
  padding-top: 0px;
  font-family: 'Nunito Sans';
  text-align: justify;
  line-height: 28px;
}



.dropbtn {
  background-color: #04aa6d00;
  color: #00000059;
  text-align: left;
  border: 1px solid #eee;
  width: 250px;
  margin: auto 30px;
  height: 45px;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 0 0 0 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.add-cart-box {
  border: 1px solid #eee;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
}

.dropbtn {
  text-transform: capitalize;
}

.model-box h5 {
  padding: 20px 40px 0;
  text-transform: capitalize;
  font-size: 12px;
}

.dropdown-content {
  left: 70px;
}

.dropbtn:hover {
  background: #eeeeee !important;
}

.buy-btns {
  text-align: center;
}

.cart_btn {
  background: #7ab261;
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  padding: 8px 5px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 14px;
}

.cart_btn:hover {
  background: transparent;
  border: 1px solid #7ab261;
  color: #7ab261;
}

.cart_btn.cart_buynow {
  background: transparent;
  border: 1px solid #7ab261;
  color: #7ab261;
  margin-top: 0;
}

.cart_btn.cart_buynow:hover {
  background: #7ab261;
  color: #fff;
}

.model-box {
  padding-bottom: 30px;
}


.qnty {
  background-color: #04aa6d00;
  color: #00000059;
  border: 1px solid #eee;
  width: 250px;
  margin: auto 30px;
  height: 45px;
  border-radius: 5px;
  padding-left: 15px;
  text-transform: capitalize;
}




/********************women-banner-section********************/

.women-bag-banner {
  margin-top: 150px;
  position: relative;
  background-image: radial-gradient(#535c65, black);
}

.women-banner-txt {
  padding-top: 100px;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
  width: 70%;
}

.women-banner-txt h3 {
  color: #fff;
  font-size: 34px;
  font-family: 'Nunito Sans';
  font-weight: 900;
}

.women-banner-txt h5 {
  font-size: 22px;
  color: #fff;
  padding-bottom: 10px;

}

.women-banner-txt p {
  color: #fff;
  font-size: 16px;
  padding-top: 25px;
  padding-right: 144px;
  font-family: 'Nunito Sans';
}

.health-icon ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.health-icon ul li img {
  width: 66px;
}

.health-icon {
  padding-top: 125px;
  position: relative;
}

.women-bag-banner:before {
  position: absolute;
  content: "";
  background: #1D232B;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.womwn-img {
  margin-bottom: 0px !important;
}

img.womwn-img {
  width: 100%;
}

.women-bag-banner .wpb_content_element {
  margin: 0;
}

/********************product-feature-section******************/


.product-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-features ul li {
  font-size: 17px;
  font-family: 'Nunito Sans';
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-features ul li img {
  position: relative;
  left: -5px;
  width: 60px;
}

.product-quality-section {
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/product-qulaity-banner.png);
  background-size: cover;
  width: 100%;
  height: 435px;
  margin-top: 150px;
}

.product-features .last-icon-featrue {
  text-align: center;
  margin: 0 90px;
}

.product-features {
  padding-top: 40px;
  display: flex;
}

.produt-img {
  position: relative;
}

.produt-img:before {
  position: absolute;
  content: "";
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/prana-air-nano-co-monitor-real-time-detector-.png);
  width: 353px;
  height: 330px;
  top: 105px;
  right: -65px;
}

.product-quantity-txt h5 {
  color: #CCA480;
  font-size: 20px;
  font-family: 'Nunito Sans';
}

.product-quantity-txt h3 {
  color: #31343D;
  font-size: 30px;
  font-family: 'Nunito Sans';
  font-weight: 800;
}

.product-quantity-txt {
  padding-top: 100px;
}

.product-quantity-txt p {
  font-size: 16px;
  color: #677580;
  width: 408px;
  padding-top: 10px;
}




/*****************high-defination-banner***************/

.high-defination-banner {
  background-image: radial-gradient(#4C637A, #010609);
  margin-top: 150px;
  position: relative;
}

.heandy-portable-section {
  margin-top: 150px;
  position: relative;
}

.highr-defination-txt {
  padding-top: 100px;
  font-size: 18px;
  color: #fff;
  width: 80%;
}

.highr-defination-txt h3 {
  color: #FFF;
  font-size: 55px;
  font-family: 'Nunito Sans';
  font-weight: 900;
}

.highr-defination-txt h5 {
  font-size: 26px;
  color: #fff;
  font-family: 'Nunito Sans';
  text-transform: capitalize;
  padding-top: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(39deg, white, #ffffff2e);
  line-height: 28px;
  padding-bottom: 10px;
}

img.high-dispaly-img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.highr-defination-txt p {
  font-family: 'Nunito Sans';
  color: #fff;
  font-size: 16px;
  padding-top: 15px;
  padding-right: 110px;
}

.high-defination-banner:before {
  position: absolute;
  content: "";
  background: #ffffff0f;
  width: 100px;
  height: 500px;
  transform: rotate(22deg);
  top: -50px;
}

.high-dispaly-img img {
  width: 306px;
}


/**************handy-port-section**************/

.handy-box {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: -50px;
  padding: 0;
}


.handy-txt {
  padding-top: 100px;
  position: relative;
}

.handy-txt h4 {
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 900;
}

.handy-txt p {
  font-size: 16px;
  color: #677580;
  padding-right: 20px;
  padding-top: 5px;
  font-family: 'Nunito Sans';
}

.handy-txt:before {
  position: absolute;
  content: "handy";
  font-size: 60px;
  text-transform: capitalize;
  color: #31343d0f;
  font-family: 'Nunito Sans';
  top: 40px;
  left: -3px;
  font-weight: 800;
}

.handy-box-left {
  margin-left: 0;
  margin-right: -50px;
  position: relative;
  z-index: 1;
}

.handy-img img {
  width: 231px;
  position: relative;
}

.portable-img img {
  width: 261px;
  padding-top: 20px;
}

.portable-txt:before {
  position: absolute;
  content: "portable";
  font-size: 60px;
  text-transform: capitalize;
  color: #31343d0f;
  font-family: 'Nunito Sans';
  top: 40px;
  left: -3px;
  font-weight: 800;
}

img.carbon-monoxide-img {
  width: 100%;
}

.heandy-portable-section:before {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 49%;
  height: 325px;
  left: 0;
  top: 42px;
}

.heandy-portable-section:after {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 49%;
  height: 325px;
  right: 0;
  top: 42px;
}



/***********************carbon-monoxide-sec****************/

.carbon-monoxide-img img {
  width: 546px;
}

.corbon-monoxide-section {
  padding-top: 150px;
  padding-bottom: 40px;
  position: relative;
}

.monoxide-txt h4 {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Nunito Sans';
  padding: 10px 180px 0px 0px;
  line-height: 42px;
}

.monoxide-txt p {
  color: #677580;
  font-size: 16px;
  line-height: 30px;
  padding-right: 60px;
}




/********health-hazard-data********/

.bar {
  position: relative;
}

.bar:before {
  position: absolute;
  content: "";
  background: #3DBE34;
  width: 60px;
  height: 3px;
}

.hazard-txt-co {
  font-size: 24px;
  font-family: 'Nunito Sans';
  color: #31343D;
  border-bottom: 1px solid #E9E9F0;
  width: auto;
  padding-bottom: 15px;
}

.healt-hazards {
  padding-top: 42px;
  color: #31343D;
}

.hazard-txt-co span {
  font-weight: 900;
  font-size: 30px;
  color: #31343D;
}

.healt-hazards {
  padding-top: 42px;
}

h4.hazard-txt-co span {
  font-weight: 900;
  font-size: 30px;
  color: #31343D;
}

.health-hazars-data {
  padding-top: 30px;
}

.inner-data p {
  font-size: 13px;
  font-family: 'Nunito Sans';
  color: #677580;
  text-transform: uppercase;
  font-weight: 600;
}

.inner-data h4 {
  font-size: 14px;
  color: #31343D;
  text-transform: capitalize;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.innr-last-data {
  padding-top: 35px;
}

.pink:before {
  background: #EA519F;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
}

.pink {
  position: relative;
  padding-bottom: 10px;
}

.pd-hazard {
  padding-top: 70px;
}

.yellow:before {
  background: #F0E431;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
}

.yellow {
  position: relative;
  padding-bottom: 10px;
}

.purpule:before {
  background: #BC4FCC;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
}

.purpule {
  position: relative;
  padding-bottom: 10px;
}

.orange:before {
  background: #E75835;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
}

.orange {
  position: relative;
  padding-bottom: 10px;
}

.red:before {
  background: #C92033;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
}

.red {
  position: relative;
  padding-bottom: 10px;
}


/**********co-monitore-outdoor************/

/********************new-home-slider******************/


.ac_slider_left_box img {
  width: 300px;
}

.ac_slider_content {
  padding-top: 170px;
}


.home-slider button.slick-next.default.slick-arrow {
  background: url(/wp-content/uploads/2023/05/next-icon.png) !important;
  background-size: cover !important;
  width: 55px !important;
  height: 8px !important;
  background-repeat: no-repeat !important;
  left: 49%;
  top: auto;
  bottom: 130px;
}

.home-slider i.ultsl-arrow-right4 {
  display: none;
}

.home-slider button.slick-prev.default.slick-arrow {
  background: url(/wp-content/uploads/2023/05/prev-icon.png) !important;
  height: 8px !important;
  background-repeat: no-repeat !important;
  left: 43%;
  bottom: 130px;
  top: auto;
  width: 55px;
}

.home-slider i.ultsl-arrow-left4 {
  display: none;
}

.home-slider ul.slick-dots {
  position: absolute;
  bottom: 150px;
  left: -60px;
}






/********************new-home-slider******************/



.small-sleek-reliable-slider {
  display: flex;
  align-items: center;
}


.hm-slider-img img {
  width: 465px !important;
}

.hm-slider-txt {
  margin-left: 210px;
}

.hm-slider-img {
  width: 60%;
}

.hm-slider-txt h4 {
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: #31343D;
}

.hm-slider-txt p {
  font-size: 16px;
  color: #677580;
  padding-right: 170px;
}

.co-monitore-outdoor-slider {
  padding-top: 150px;
  padding-bottom: 15px;
  position: relative;
}

.co-monitore-outdoor-slider:before {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 70%;
  height: 380px;
  bottom: 70px;
  right: 60px;
}

.real-time-data-section {
  margin-top: 110px;
  position: relative;
}



/***************real-time-data***********/

.real-time-data-img img {
  width: 680px;
}

.outdoor-monitor-device-img {
  margin-top: 150px;
}

img.outdoor-monitor-device-img {
  width: 100%;
}

img.smart-chip-img.floating {
  width: 100%;
}

.real-time-data-section:before {
  position: absolute;
  content: "";
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/white-bg-image.jpeg);
  width: 100%;
  height: 375px;
  left: 0;
  right: 0;
  top: 20px;
  z-index: -1;
}

img.real-time-data-img {
  width: 97%;
}

.real-time-data-txt h5 {
  font-size: 32px;
  font-family: 'Nunito Sans';
  color: #31343D;
  padding: 5px 0;
}

.real-time-data-txt h4 {
  font-size: 24px;
  color: #31343D;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.real-time-data-txt p {
  font-size: 16px;
  color: #677580;
  font-family: 'Nunito Sans';
  padding-right: 80px;
}

.real-time-data-txt {
  padding-top: 120px;
}




/****************electrochecmical-section*************/


.electrochemical-heading {
  padding-top: 150px;
  text-align: center;
}

.attractive-details-section {
  padding-top: 100px;
}

h5.heading-bg {
  font-size: 54px;
  line-height: 80px;
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/heding-bg-scaled.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: right;
}

.electrochecmial-para h4 {
  font-size: 42px;
  color: #030B40;
  font-weight: 800;
}

.electrochecmial-para p {
  color: #677580;
  line-height: 28px;
  padding: 20px 170px 0;
}


.smart-chip-section {
  margin-top: 30px;
  background: radial-gradient(at 70% 259px, #c6f1fd, #07081f, #07081f, #07081f);
}

.smart-chip-txt h5 {
  color: #fff;
  font-size: 32px;
  font-family: 'Nunito Sans';
  line-height: 28px;
}

img.product-key-function {
  width: 100%;
  position: relative;
}

.product-function-txt {
  position: relative;
}

img.large-battery-img {
  width: 50%;
  display: block;
  margin: auto;
}

img.co-detection-img {
  width: 60%;
  margin: auto;
  display: block;
}

.smart-chip-txt h5 span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(39deg, #2eccef, #2393DE);
}

.smart-chip-txt {
  padding-top: 110px;
  color: #fff;
}

.smart-chip-txt h4 {
  font-size: 24px;
  color: #fff;
  font-family: 'Nunito Sans';
  font-weight: 600;
  line-height: 36px;
}

.smart-chip-txt p {
  font-size: 16px;
  color: #CFCFCF;
}

ul.smart-chip-quality {
  padding: 20px 12px 0;
  margin: 0;
}

ul.smart-chip-quality li {
  color: #CFCFCF;
  padding-bottom: 20px;
  width: 49%;
  display: inline-block;
  position: relative;
}

ul.smart-chip-quality li:before {
  position: absolute;
  content: "";
  background: #CFCFCF;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  left: -15px;
  top: 6px;
}



/*****************attractive-poducts**************/


.attract-bg-box img {
  width: 385px;
}

.attract-bg-box {
  background: #F4F4F9;
  width: 385px;
  text-align: center;
  padding-top: 50px;
  transition: .3s linear;
}

.attract-bg-box:hover {
  box-shadow: 0px 0px 30px #eeee;
  transform: scale(1.1);
}



.attractive-txt {
  padding: 60px 0 50px;
}

.attractive-txt h4 {
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 800;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  line-height: 35px;
}


.top_head {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.top_head p {
  margin: 0;
  line-height: normal;
  font-size: 0;
  font-family: 'Nunito Sans';
}

.top_head h4 {
  color: #31343D;
  font-size: 30px;
  font-weight: 800;
  padding-left: 15px;
  font-family: 'Nunito Sans';
  text-align: left;
}

.detail_text {
  display: block;
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Nunito Sans';
  color: #31343D;
}

.range_no {
  font-weight: 800;
  font-size: 25px;
  color: #677580;
  position: relative;
  top: -7px;
  font-family: 'Nunito Sans';
}

/****************product-key-fuction***************/


.product-key-function-section {
  padding-top: 150px;
  position: relative;
}

.product-function-txt h4 {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Nunito Sans';
  color: #31343D;
  padding-bottom: 20px;
}

.product-key-function-section:before {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 100%;
  height: 550px;
  left: 0;
  right: 0;
  top: 100px;
}

.product-key-function img {
  width: 425px;
}

.power-key-box {
  padding-top: 40px;
  margin-left: 225px;
}

.power-key-box {
  padding-top: 40px;
  margin-left: 225px;
  position: relative;
}

.power-key-box:before {
  position: absolute;
  content: "";
  width: 495px;
  height: 66px;
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/new-power-btn.png);
  left: -580px;
  bottom: 10px;
}

.power-key-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.power-key-box ul li:first-child {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Nunito Sans';
  color: #31343D;
  text-transform: capitalize;
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}

.power-key-box ul li:first-child:before {
  position: absolute;
  content: "";
  background: #000;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -8px;
  top: 10px;
}

.power-key-box ul li {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Nunito Sans';
  color: #54565C;
  position: relative;
}

.power-key-box ul li:before {
  position: absolute;
  content: "";
  background: #54565C;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -15px;
  top: 5px;
}

.turn-alarm {
  padding-top: 45px;
  margin-left: 460px;
  position: relative;
}

.turn-alarm ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.turn-alarm ul li {
  font-size: 18px;
  color: #54565C;
  position: relative;
  padding-bottom: 10px;
}

.turn-alarm ul li:before {
  position: absolute;
  content: "";
  background: #54565C;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 5px;
  left: -15px;
}

.turn-alarm ul li:last-child img {
  width: 20px;
  padding: 0 10px 0;
  position: relative;
  top: 5px;
}

.turn-alarm:before {
  position: absolute;
  content: "";
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/new-alarm.png);
  width: 652px;
  height: 42px;
  left: -710px;
  top: 42px;
}

.brightness-levels {
  position: relative;
  padding-top: 30px;
  padding-left: 60px;
}

.brightness-levels:before {
  position: absolute;
  content: "";
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/new-brightnness.png);
  width: 492px;
  height: 158px;
  top: -90px;
  left: -450px;
}

.brightness-levels ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brightness-levels ul li {
  font-size: 18px;
  width: 40%;
  line-height: 24px;

  color: #54565C;
}

.brightness-levels ul li:first-child {
  position: relative;
}

.brightness-levels ul li:first-child:before {
  position: absolute;
  content: "";
  background: #54565C;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 5px;
  left: -15px;
}

.brightness-levels ul li img {
  width: 19px;
  padding: 5px 3px 0;
}


/****************battery-capicty-section**************/

.battery-endurance-section {
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/bettary-new-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 140px;
}

.large-battery-img img {
  width: 343px;
}

.battery-txt {
  padding-top: 130px;
}

.battery-txt h5 {
  font-size: 40px;
  font-family: 'Nunito Sans';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(87deg, #24b105, #EEF14C);
  line-height: 45px;
  position: relative;
}

.battery-txt h5:before {
  position: absolute;
  content: "";
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/Vector.png);
  width: 37px;
  height: 46px;
  left: -45px;
}

.battery-txt h4 {
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 800;
  color: #31343D;
}

.battery-txt p {
  font-size: 16px;
  color: #677580;
  font-family: 'Nunito Sans';
  padding: 15px 40px 0 0;
}


/************product-sepcify************/
.shdw-line {
  position: relative;
}

.shdw-line:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(270deg, rgba(190, 190, 190, 0.68) 0.72%, #635E5E 45.95%, rgba(190, 190, 190, 0.68) 98.74%);
  width: 1px;
  height: 240px;
  top: 0;
  right: 10px;
  opacity: 0.17;
}

.shdw-line:after {
  position: absolute;
  content: "";
  background-image: linear-gradient(270deg, rgba(190, 190, 190, 0.68) 0.72%, #635E5E 45.95%, rgba(190, 190, 190, 0.68) 98.74%);
  width: 1px;
  height: 240px;
  top: 0;
  right: -380px;
  opacity: 0.17;
}

.product-specification-heading p {
  font-size: 20px;
  font-weight: 600;
}

.product-specifi {
  display: flex;
  margin-bottom: 40px;
}

.product-specifi p {
  font-size: 18px;
  font-family: 'Nunito Sans';
  color: #677580;
  width: 55%;
}

.product-specifi h4 {
  font-size: 18px;
  font-family: 'Nunito Sans';
  font-weight: 800;
  padding-top: 6px;
  width: 55%;
}

.mid-box {
  position: relative;
}

.mid-box:before {
  content: "";
  background: #F4F4F9;
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  right: 0;
  margin: 0;
  z-index: -1;
  top: 60px;
}


/*************co2-detect************/

.co-data {
  width: 36px;
  height: 10px;
  background: #14a89a;
  border-radius: 30px;
}

.real-time-co-detection {
  background: url(https://www.pranaair.com/wp-content/uploads/2023/05/bg-image.jpeg);
  background-size: cover;
  margin-top: 150px;
  background-position: center;
}

.real-time-co-dect-heading {
  padding-top: 75px;
}

.real-time-co-dect-heading h4 {
  font-size: 24px;
  font-family: 'Nunito Sans';
  color: #31343D;
  font-weight: 600;
}

.real-time-co-dect-heading h5 {
  font-size: 32px;
  color: #31343D;
  font-family: 'Nunito Sans';
  line-height: 38px;
}

.real-time-co-dect-heading span {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #677580;
  font-family: 'Nunito Sans';
  font-weight: 700;
}

.real-time-co-dect-heading span p {
  font-size: 16px;
  color: #677580;
  position: relative;
  top: 5px;
  left: 10px;
}

.real-time-co-dect-heading h6 {
  font-size: 16px;
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: #31343D;
  padding-top: 20px;
}

p.\32 sec {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #677580;
  font-family: 'Nunito Sans';
}

p.\32 sec span {
  display: block;
  font-size: 14px;
  padding: 0 3px;
  color: #26A1E2;
}

.co2-bar ul {
  margin: 0;
  padding: 20px 0 0px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.co2-bar ul li {
  font-size: 14px;
  font-family: 'Nunito Sans';
  color: #31343D;
  font-weight: 600;
}

.co2-bar {
  padding-top: 50px;
  position: relative;
}

.co2-bar:before {
  position: absolute;
  content: "";
  width: 420px;
  height: 7px;
  background-image: linear-gradient(45deg, #14A89A, #FFEF23, #FE8E06, #FB0200);
  border-radius: 40px;
}

ul.bar-colr {
  display: flex;
  gap: 60px;
}

ul.bar-colr li span {
  position: relative;
  left: -50px;
}

.last-bar {
  margin-left: -25px;
}

.bar-box {
  padding-top: 20px;
  padding-bottom: 60px;
}

.orange-bar {
  background: #FC8C00;
}

.yellow-bar {
  background: #FEEF26;
}

.red-bar {
  background: #FD0003;
}

.co-detection-img img {
  width: 415px;
}



/***********faq****************/

.inner-faq h4 a span {
  font-size: 18px;
  color: #31343D;
  font-family: 'Nunito Sans';
}

.faq-para p {
  font-size: 16px;
  font-family: 'Nunito Sans';
  color: #677580;
}

.inner-faq h4 {
  background: #f4f4f9;
  border-radius: 8px;
  margin-bottom: 10px !important;
  padding: 15px;
}

.inner-faq h4 a i {
  left: 97% !important;
}


/***********discription*************/

.product-feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.product-feature:before {
  position: absolute;
  content: "";
  background: #635e5e17;
  width: 1px;
  height: 508px;
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

.product-feature ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-feature ul li {
  font-size: 18px;
  font-family: 'Nunito Sans';
  color: #31343D;
  font-weight: 600;
  padding-bottom: 40px;
}

.product-discription ul {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  position: relative;
}

.product-discription ul li {
  font-size: 18px;
  color: #677580;
  font-family: 'Nunito Sans';
  padding-bottom: 40px;
}

.product-discription {
  position: relative;
  margin-top: 90px;
}

.product-discription:before {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 279px;
  height: 550px;
  z-index: 0;
  top: -40px;
  border-radius: 8px;
}

li.tab-bg {
  position: relative;
  z-index: 1;
}

li.tab-bg:before {
  position: absolute;
  content: "";
  background: #F4F4F9;
  width: 900px;
  height: 64px;
  z-index: -1;
  border-radius: 8px;
  top: -22px;
  left: -110px;
}

ul.co-multifuntion-monitor li {
  position: relative;
  z-index: 1;
}



/**************new-header***********/

.inner-header-sticky {
  background: #F1F1F8;
}

.inner-header-sticky .wpb_content_element {
  margin: 0;
}

.new-nav-bar {
  list-style: none !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 !important;
  padding: 20px 0;
}

.new-nav-bar li a {
  text-decoration: none;
  color: #31343D;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}



/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed !important;
  top: 70px;
  width: 100%;
  z-index: 9999;
  transition: all 0.6s ease-in-out;
  animation: smothScroll 1s forwards;
  background: #f1f1f8;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}

.new-nav-bar .nav-item.active {
  position: relative;
}

.new-nav-bar .nav-item.active:before {
  position: absolute;
  background-image: linear-gradient(89.99deg, #FFFB91 0.01%, #2AB752 100%);
  width: 110px;
  height: 2px;
  content: "";
  bottom: -19px;
  left: 0;
}

.brochore-btn {
  text-align: right;
}

.brochore-btn a:hover {
  box-shadow: 0px 7px 3px #eeee;
}

.brochore-btn a {
  gap: 5px;
  background: #7AB261;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  font-family: 'Nunito Sans';
  font-size: 14px;
  width: 22%;
  margin: 100px auto;
  margin-right: 0;
  padding: 10px 20px;
  border-radius: 6px;
}

.brochore-btn img {
  width: 20px;
}

.dis-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: 30px;
}

.dis-img img {
  width: 45%;
}

.disc-inner-img-one {
  text-align: center;
}

.disc-inner-img-two {
  text-align: center;
}

.comparison-sec {
  padding-bottom: 40px;
}






/*****************buy-btn-sticky***************/

.mob-sticky-buy-btn {
  background: #fff;
}

.mob-sticky-buy-btn ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-sticky-buy-btn ul li h6 {
  font-size: 15px;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.mob-buy-btns li:first-child {
  background: #7AB261;
  padding: 8px 40px;
  border-radius: 6px;
}

.mob-buy-btns li:first-child a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.mob-buy-btns li:last-child {
  border: 1px solid #7ab261;
  padding: 8px 40px;
  border-radius: 6px;
}

.mob-buy-btns li:last-child a {
  color: #7ab261;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.mob-sticky-buy-btn ul li:last-child {
  font-size: 16px;
  color: #7ab261;
  font-weight: 800;
}



/****************breadcrums******************/

.static-breadcrums ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5px;
}

.static-breadcrums ul li a {
  font-size: 14px;
  color: #31343D;
  text-decoration: none;
}

.static-breadcrums {
  padding-top: 30px;
}

.static-breadcrums ul li span {
  font-size: 20px;
  color: #31343D;
  font-weight: 300;
  position: relative;
  top: 2px;
  left: 10px;
}



/****************mobile-responsive****************/




@media only screen and (min-width: 320px) and (max-width: 767px) {



  #menu li a {
    font-size: 13px !important;
  }

  #menu {
    justify-content: space-between !important;
    padding: 15px 0 !important;
  }

  #menu li a.active:before {
    width: 60px !important;
    bottom: -16px !important;
    left: 0;
  }

  .new-cart .quantity.buttons_added input {
    width: 100% !important;
    margin: -15px auto 0px !important;
    margin-bottom: 5px !important;
  }

  .new-cart button {
    width: 100% !important;
    display: block !important;
    padding: 0px 30px !important;
    margin-top: 10px !important;
  }

  .new-cart a {
    width: 100% !important;
  }

  .dropbtn {
    margin: auto 0px;
    width: 100%;
  }

  .deskshow {
    display: none;
  }

  .mobshow {
    display: block !important;
  }

  .new-nav-bar {
    margin: 0 !important;
    padding: 20px 0;
  }

  .tabcontent img {
    width: 100%;
  }

  .product-text {
    padding-top: 0px;
    padding-left: 0px;
  }

  .inner-product-txt h1 {
    font-size: 20px;
  }

  .inner-product-txt h4 {
    font-size: 18px;
  }

  .inner-product-txt p {
    font-size: 16px;
    padding-top: 6px;
  }

  .mrp-sec p {
    padding-top: 0px;
  }

  .add-cart-box {
    border: none;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }

  .model-box h5 {
    padding: 20px 0px 0;
  }

  .qnty {
    width: 100%;
    margin: auto 0px;
  }

  .cart_btn {
    width: 96%;
    margin-top: 25px;
  }

  .women-bag-banner {
    margin-top: -20px;
  }

  .women-banner-txt {
    padding-top: 60px;
    width: 100%;
  }

  .women-banner-txt h3 {
    font-size: 24px;
    margin: 0;
  }

  .women-banner-txt h5 {
    font-size: 18px;
  }

  .women-banner-txt p {
    font-size: 16px;
    padding-top: 15px;
    padding-right: 0;
    line-height: 24px;
  }

  .womwn-img img {
    min-width: 100%;
  }

  .women-bag-banner:before {
    top: 286px;
    height: 70px;
  }

  .health-icon ul {
    gap: 20px;
    justify-content: space-between;
  }

  .health-icon ul li img {
    width: 50px;
  }

  .health-icon {
    padding-top: 100px;
  }

  .produt-img:before {
    display: none;
  }

  .product-features {
    text-align: center;
    padding-top: 10px;

  }

  .product-features ul li {
    font-size: 14px;
    text-align: left;
  }

  .product-quality-section {
    height: auto;
    margin-top: 100px;
  }

  .high-defination-banner {
    margin-top: 90px;
  }

  .heandy-portable-section {
    margin-top: 60px;
  }

  .product-quantity-txt {
    padding-top: 0px;
  }

  .product-quantity-txt h5 {
    font-size: 16px;
  }

  .product-quantity-txt h3 {
    font-size: 22px;
  }

  .product-quantity-txt p {
    font-size: 14px;
    width: 100%;
    line-height: 24px;
  }

  .high-defination-banner:before {
    display: none;
  }

  .highr-defination-txt {
    padding-top: 50px;
  }

  .highr-defination-txt h3 {
    font-size: 36px;
  }

  .highr-defination-txt h5 {
    font-size: 17px;
  }

  .highr-defination-txt p {
    font-size: 16px;
    padding-top: 15px;
    padding-right: 0;
    line-height: 24px;
  }

  .high-dispaly-img img {
    width: 220px;
  }

  .handy-box {
    display: block;
    margin-left: 0;
    padding: 0;
    text-align: center;
    margin-right: 0;
  }

  .heandy-portable-section:before {
    width: 100%;
    height: 465px;
    left: 0;
    top: 15px;
  }

  .handy-img img {
    width: 200px;
  }

  .handy-txt {
    padding-top: 20px;
    position: relative;
    text-align: left;
  }

  .handy-txt:before {
    font-size: 32px;
    top: 0px;
    left: -3px;
  }

  .portable-img img {
    width: 300px;
  }

  .portable-txt {
    margin-top: -80px;
  }

  .portable-txt:before {
    font-size: 32px;
    left: -3px;
  }

  .heandy-portable-section:after {
    width: 100%;
    height: 445px;
    top: 505px;
  }

  .handy-txt p {
    font-size: 16px;
  }

  .vc_section {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .corbon-monoxide-section {
    padding-top: 30px;
  }

  .monoxide-txt h4 {
    font-size: 20px;
    padding: 10px 60px 0 0;
    line-height: 32px;
  }

  .monoxide-txt p {
    font-size: 16px;
    line-height: 24px;
    padding-right: 0;
  }

  .corbon-monoxide-section:before {
    width: 95%;
    height: 520px;
    top: 550px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .hazard-txt-co {
    font-size: 18px;
    border: none;
    width: auto;
    padding-bottom: 0px;
    line-height: 28px;
  }

  .hazard-txt-co span {
    font-size: 22px !important;
  }

  .health-hazars-data {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner-data {
    background: #FCFCFF;
    width: 42%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #eeee;
    height: 100px;
    padding: 10px 10px 0;
  }

  .bar:before {
    width: 70px;
    top: -30px;
  }

  .pink {
    padding-bottom: 0;
  }

  .pd-hazard {
    padding-top: 10px;
  }

  .pink:before {
    width: 70px;
    top: -30px;
  }

  .yellow:before {
    width: 70px;
    top: -70px;
  }

  .purpule:before {
    width: 70px;
    top: -50px;
  }

  .orange:before {
    width: 70px;
    top: -50px;
  }

  .red:before {
    width: 70px;
    top: -70px;
  }

  .new-nav-bar li a {
    font-size: 14px;
  }

  .inner-data h4 {
    font-size: 11px;
    line-height: 20px;
  }

  .small-sleek-reliable-slider {
    display: block;
  }

  .hm-slider-img {
    width: 70%;
    margin: 0 auto;
  }

  .hm-slider-txt {
    margin-left: 0;
    padding-top: 50px;
  }

  .hm-slider-txt p {
    font-size: 16px;
    line-height: 25px;
    padding-right: 0;
  }

  .co-monitore-outdoor-slider:before {
    width: 100%;
    height: 390px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .white .sa_owl_theme .owl-nav .owl-prev {
    left: 60%;
    top: 10px;
  }

  .white .sa_owl_theme .owl-nav .owl-next {
    left: 70%;
    bottom: -10px;
  }

  .real-time-data-section {
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/white-bg-image.jpeg);
    margin-top: 20px;
    background-size: cover;
    margin-bottom: 20px;
  }

  .real-time-data-txt {
    padding-top: 40px;
  }

  .real-time-data-txt h5 {
    font-size: 24px;
  }

  .real-time-data-txt h4 {
    font-size: 18px;
  }

  .real-time-data-txt p {
    font-size: 16px;
    padding-right: 0;
    line-height: 25px;
  }

  .real-time-data-img img {
    margin-bottom: -20px;
  }

  .electrochemical-heading {
    padding-top: 40px;
  }

  h5.heading-bg {
    font-size: 22px;
    line-height: 30px;
    background-position: center;
  }

  .electrochecmial-para h4 {
    font-size: 22px;
  }

  .electrochecmial-para p {
    line-height: 28px;
    padding: 0;
    font-size: 16px;
  }

  .smart-chip-section {
    margin-top: 30px;
    background: radial-gradient(at 50% 110px, #c6f1fd, #07081f, #07081f, #07081f);
    padding-bottom: 20px;
  }

  .smart-chip-txt h5 {
    font-size: 24px;
  }

  .smart-chip-txt {
    padding-top: 10px;
  }

  .smart-chip-txt h5 span {
    padding-left: 0px;
  }

  .smart-chip-txt h4 {
    font-size: 18px;
    line-height: 20px;
  }

  .smart-chip-txt p {
    font-size: 16px;
    padding-top: 15px;
  }

  .attract-bg-box {
    width: 100%;
  }

  .attract-bg-box {
    background: #F4F4F9;
    text-align: center;
    padding-top: 50px;
  }

  .mob-scroll .col-md-4 {
    width: 60%;
  }

  .mob-scroll {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .attract-bg-box h4 {
    margin: 0;
  }

  .attract-bg-box img {
    width: 100% !IMPORTANT;
    margin-bottom: -5px !important;
  }

  .product-key-function img {
    width: 280px;
  }

  .power-key-box {
    padding-top: 0;
    margin-left: 90px;
    position: relative;
    margin-top: 50px;
    top: 100px;
  }

  .turn-alarm {
    padding-top: 0;
    margin-left: 220px;
    position: relative;
    margin-top: 40px;
    top: -80px;

  }

  .product-key-function {
    text-align: center !important;
  }

  .brightness-levels ul li {
    font-size: 10px;
    width: 32%;
    line-height: 14px;
    color: #54565C;
  }

  .brightness-levels ul li:first-child:before {
    width: 5px;
    height: 5px;
    top: 4px;
    left: -10px;
  }

  .brightness-levels {
    position: relative;
    padding-top: 0;
    padding-left: 10px;
    margin-top: -30px;
    top: -210px;
  }

  .brightness-levels:before {
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/mobile-brigthness-line.png);
    width: 64px;
    height: 123px;
    top: -114px;
    left: 18px;
  }

  .vc_custom_1684742515068 {
    padding-top: 0 !important;
  }

  .wpb_single_image.vc_align_left {
    text-align: center !important;
    margin: 0;
  }

  .turn-alarm ul li {
    font-size: 10px;
    padding-bottom: 0px;
  }

  .turn-alarm ul li:before {
    width: 5px;
    height: 5px;
    top: 9px;
    left: -10px;
  }

  .turn-alarm:before {
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/mobile-alrm-btn.png);
    width: 56px;
    height: 185px;
    left: -55px;
    top: -172px;
  }

  .brightness-levels ul li img {
    width: 10px;
    padding: 3px 3px 0;
  }

  .turn-alarm ul li:last-child img {
    width: 10px;
    padding: 0 5px 0;
    top: 2px;
  }

  .power-key-box ul li:first-child:before {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 11px;
  }

  .power-key-box:before {
    width: 53px;
    height: 277px;
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/mobile-power-btn.png);
    left: 0px;
    bottom: 60px;
  }

  .power-key-box ul li:before {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: -10px;
    top: 7px;
  }

  .power-key-box ul li {
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans';
    color: #54565C;
    position: relative;
  }

  .product-key-function-section {
    padding-bottom: 40px;
  }

  .product-key-function-section:before {
    height: 620px;
  }

  .co-monitore-outdoor-slider {
    padding-bottom: 30px;
    padding-top: 70px;
  }

  .battery-endurance-section {
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/bettary-new-bg.jpg);
    background-size: cover;
    margin-top: 0px;
    background-position: inherit;
  }

  .battery-txt {
    padding-top: 40px;
    padding-left: 30px;
  }

  .battery-txt h5 {
    font-size: 24px;
    line-height: 25px;
  }

  .battery-txt h5:before {
    background: url(https://www.pranaair.com/wp-content/uploads/2023/05/battery-icon.png);
    width: 20px;
    height: 26px;
    left: -30px;
  }

  .battery-txt h4 {
    font-size: 18px;
  }

  .battery-txt p {
    font-size: 16px;
    padding: 5px 0px 0 0;
  }

  .large-battery-img img {
    width: 100%;
  }

  .attractive-txt {
    padding: 40px 0 0px;
  }

  .attractive-txt h4 {
    font-size: 20px;
    padding-right: 40px;
  }

  .product-specifi p {
    font-size: 14px;
    width: 50%;
  }

  .product-specifi h4 {
    font-size: 14px;
    width: 50%;
  }

  .product-specifi {
    margin-bottom: 20px;
  }

  .box-line {
    margin-bottom: 0px;
    position: relative;
    z-index: 0;
  }

  .box-line:before {
    position: absolute;
    content: "";
    background: #F8F8FA;
    width: 100%;
    height: 50px;
    top: 40px;
    z-index: -1;
    border-radius: 7px;
    box-shadow: 0px 3px 3px #eeee;
  }

  .mid-box:before {
    display: none;
  }

  .box-line:after {
    position: absolute;
    background-image: linear-gradient(90deg, #bebebe29, #635e5e3b, #bebebe47);
    content: "";
    width: 100%;
    height: 1px;
    top: 160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;

  }

  .vc_custom_1684223224592 {
    padding-top: 30px !important;
  }

  .faq-heading {
    padding-right: 90px;
    padding-bottom: 30px;
  }

  .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {
    padding-left: 15px !important;
  }

  .inner-faq h4 a span {
    font-size: 14px;
  }

  .inner-faq h4 a i {
    left: 94% !important;
  }

  .inner-faq h4 {
    border-radius: 8px;
    box-shadow: 0px -2px 2px #eee;
    margin-bottom: 10px !important;
  }

  .vc_tta.vc_general .vc_tta-panel-body {
    padding: 14px 10px;
  }

  .faq-para p {
    line-height: 28px;
  }

  .co-detection-img img {
    width: 320px;
  }

  .real-time-co-dect-heading {
    padding-top: 50px;
  }

  .real-time-co-dect-heading h4 {
    font-size: 16px;
  }

  .real-time-co-dect-heading h5 {
    font-size: 20px;
    line-height: 16px;
  }

  .real-time-co-dect-heading span {
    font-size: 14px;
  }

  .real-time-co-dect-heading span p {
    font-size: 14px;
    top: 6px;
    left: 5px;
  }

  .real-time-co-dect-heading span p {
    font-size: 12px;
    top: 6px;
    left: 5px;
    width: 53%;
  }

  .real-time-co-dect-heading h6 {
    font-size: 13px;
    padding-top: 10px;
  }

  p.\32 sec {
    font-size: 11px;
  }

  p.\32 sec span {
    font-size: 11px;
  }

  .co2-bar {
    padding-top: 30px;
  }

  .co2-bar:before {
    width: 100%;
  }

  .co2-bar ul {
    gap: 40px;
    justify-content: space-around;
  }

  ul.bar-colr li span {
    left: -40px;
  }

  .bar-box {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .co2-bar ul li {
    font-size: 9px;
    font-weight: 700;
  }

  .last-bar {
    margin-left: -15px;
  }

  .discription-mob ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .discription-mob ul li {
    font-size: 14px;
    padding-bottom: 30px;
    font-family: 'Nunito Sans';
  }


  .discription-mob ul li img {
    width: 130px !important;
  }

  ul.mob-discription-list {
    display: block;
  }

  ul.mob-discription-list li {
    width: 49%;
    display: inline-block;
  }

  ul.mob-discription-list li h5 {
    text-align: center;
    color: #31343D;
    font-size: 14px;
  }

  ul.mob-discription-list li p {
    font-size: 14px;
    font-family: 'Nunito Sans';
    color: #677580;
    padding-left: 10px;
  }

  .comparision-heading {
    padding-right: 25px;
    padding-bottom: 30px;
  }

  .disc-mob-head {
    text-align: right;
    font-weight: 800;
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 40px;
    margin-right: 15px;
    position: relative;
  }

  .disc-mob-head:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(45deg, transparent, #635e5e38, #635e5e00);
    width: 29%;
    height: 5px;
    top: 30px;
  }

  li.mob-tab-bg {
    position: relative;
  }

  li.mob-tab-bg:before {
    position: absolute;
    content: "";
    background: #f4f4f9;
    width: 200%;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    top: -15px;
  }

  .product-discription:before {
    display: none;
  }

  .product-discription ul li {
    font-size: 14px;
  }

  .product-feature ul li {
    font-size: 15px;
  }

  li.tab-bg:before {
    width: 700px;
    border-radius: 5px;
    top: -22px;
    left: -206px;
  }

  .product-discription ul {
    z-index: 2;
  }

  .product-feature ul {
    padding: 0 20px 0px 20px;
    margin: 0 -25px;
  }

  .product-discription ul {
    padding: 0 30px 0 0px;
  }

  .product-feature ul li {
    padding-left: 30px;
  }

  .brochore-btn a {
    gap: 5px;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 25px !important;
  }

  .outdoor-monitor-device-img {
    width: 485px;
    margin-top: 0px;
  }

  .real-time-co-detection {
    margin-top: 80px;
  }

  .technical-specification {
    padding-bottom: 40px;
  }

  .brochore-btn {
    position: relative;
    top: 0px;
  }

  .vc_custom_1684485911173 {
    padding-top: 30px !important;
  }

  .dis-img img {
    width: 70% !important;
  }

  .dis-img {
    display: flex;
    margin-left: -40px;
    margin-top: 0;

  }

  .product-discription {
    top: 60px;
    margin-top: 15px;
  }

  .comp-heading h4 {
    font-size: 14px;
    color: #677580;
    font-family: 'Nunito Sans';
    text-transform: capitalize;
  }

  .ac_slider_content {
    padding-top: 30px;
  }

  .home-slider button.slick-next.default.slick-arrow {
    left: 80%;
    bottom: -30px;
  }

  .home-slider button.slick-prev.default.slick-arrow {
    left: 58%;
    bottom: -31px;
  }

  .home-slider ul.slick-dots {
    bottom: -40px;
    left: 85px;
  }

  .ac_slider_left_box img {
    width: 100%;
  }


  .new-but-btn {
    width: 100%;
  }

  .mob-revers {
    display: flex;
    flex-flow: wrap-reverse;
  }

  .range_no {
    font-size: 18px;
  }

  .top_head h4 {
    font-size: 20px;
    line-height: 12px;
  }

  .detail_text {
    font-size: 14px;
  }

  .product-feature:before {
    display: none;
  }

  .shdw-line {
    display: none;
  }

  .new-nav-bar .nav-item.active:before {
    width: 65px;
  }

  .disc-inner-img-two {
    text-align: left;
  }

  .static-breadcrums ul {

    gap: 10px;
  }

  .static-breadcrums ul li a {
    font-size: 12px;
  }

  .static-breadcrums {
    padding-top: 30px;
  }

  .static-breadcrums ul li span {
    font-size: 16px;
    top: 2px;
    left: 4px;
  }

  .tab {
    justify-content: space-between;
  }

  button.tablinks {
    margin: 0 !important;
  }

  .inner-product-txt {
    padding-top: 20px;
  }

  #buy-now-button {
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
    padding: 10px 20px 5px;
    background-color: #fff;
    border-radius: 0;
    z-index: 999;
    text-decoration: none;
    text-align: center;
    font-family: 'Nunito Sans';
    width: 90%;
    font-size: 16px;
    border: none;
    margin-right: 0px;
  }

  .buy-now-sticky ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
  }

  .buy-now-sticky ul li h4 {
    margin: 0;
    font-size: 16px;
    color: #31343D;
    font-family: 'Nunito Sans';
    font-weight: 600;
  }

  .buy-now-sticky ul li br {
    display: none;
  }

  .buy-now-sticky ul li {
    text-align: left;
  }

  .buy-now-sticky ul li span {
    font-size: 16px;
    font-family: 'Nunito Sans';
    font-weight: 800;
    color: #7AB261;
  }

  .buy-now-sticky ul li a {
    background: #7AB261 !important;
    display: block;
    padding: 12px 50px;
    border-radius: 5px;
    color: #fff !important;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    margin-top: 2px;
    border-radius: 5px !important;
  }

  .sticky-btn {
    margin: 5px 0 0 !important;
    display: block !important;
  }

}



/*******************tab-responsive*******************/

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .ipad {
    width: 100% !important;
  }

  .new-cart .quantity.buttons_added input {
    width: 100% !important;
    margin: -15px auto 0px !important;
    margin-bottom: 5px !important;
  }

  .new-cart button {
    width: 100% !important;
  }

  .new-cart a {
    width: 100% !important;
  }

  .disply {
    text-align: center;
  }

  .tab {
    justify-content: center;
  }

  .product-text {
    padding-left: 0;
  }

  .mrp-sec p {
    font-size: 16px;
    padding-top: 10px;
  }

  .add-cart-box {
    width: 100%;
    margin-top: 25px;
    border: none;
  }

  .model-box h5 {
    font-size: 14px;
  }

  .dropbtn {
    font-size: 12px;
    width: 100%;
    margin: auto 0px;
    height: 50px;
  }

  .qnty {
    width: 100%;
    margin: auto 0px;
    height: 50px;
  }

  .cart_btn {
    width: 88%;
    padding: 10px 5px;
    font-size: 16px;
  }

  .women-banner-txt {
    padding-top: 50px;
    width: 90%;
    padding-bottom: 30px;
  }

  .health-icon {
    padding-top: 20px;
  }

  .women-banner-txt p {
    padding-top: 4px;
    padding-bottom: 20px;
  }

  .product-quality-section {
    height: auto;
  }

  .product-features {
    padding-top: 10px;
  }

  .product-quantity-txt {
    padding-top: 30px;
  }

  .product-quantity-txt p {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .highr-defination-txt {
    padding-top: 50px;
  }

  .heandy-portable-section:after {
    width: 100%;
    height: 280px;
    right: 0;
    top: 358px;
  }

  .heandy-portable-section:before {
    width: 100%;
    height: 280px;
    left: 0;
    top: 42px;
  }

  .handy-box {
    padding: 0;
    margin-left: 0;
  }

  .handy-box-left {
    margin-right: 0;
  }

  .carbon-monoxide-img img {
    width: 100%;
  }

  .monoxide-txt h4 {
    padding: 20px 230px 0px 0px;
  }

  .monoxide-txt p {
    padding-right: 0;
  }

  .small-sleek-reliable-slider {
    display: block;
  }

  .hm-slider-img {
    width: 50%;
    margin: 0 auto;
  }

  .co-monitore-outdoor-slider:before {
    width: 80%;
    bottom: 26px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .hm-slider-txt {
    margin-left: 0;
    text-align: center;
  }

  .hm-slider-txt p {
    padding-right: 0;
    padding: 0 140px;
  }

  .real-time-data-img {
    text-align: center !important;
  }

  .real-time-data-img img {
    width: 84%;
  }

  .real-time-data-txt {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .real-time-data-txt p {
    padding-right: 0;
  }

  .heading-bg {
    font-size: 38px;
    background-position: center;
  }

  .electrochemical-heading {
    padding-top: 20px;
    text-align: center;
  }

  .electrochecmial-para h4 {
    font-size: 32px;
  }

  .electrochecmial-para p {
    padding: 10px 0px 0;
  }

  .smart-chip-txt {
    padding-top: 30px;
  }

  .smart-chip-txt h5 {
    font-size: 21px;
  }

  .smart-chip-txt h5 span {
    padding-left: 0;
  }

  .smart-chip-txt h4 {
    font-size: 20px;
    line-height: 10px;
  }

  ul.smart-chip-quality li {
    padding-bottom: 10px;
    width: 49%;
  }

  .smart-chip-section {
    background: radial-gradient(at 74% 168px, #c6f1fd, #07081f, #07081f, #07081f);
  }

  .attract-bg {
    width: 100%;
  }

  .attract-bg-box {
    margin: 0 auto 40px;
  }

  .power-key-box {
    padding-top: 40px;
    margin-left: 80px;
  }

  .power-key-box:before {
    left: -286px;
    bottom: 60px;
  }

  .turn-alarm {
    padding-top: 45px;
    margin-left: 80px;
  }

  .turn-alarm:before {
    left: -340px;
    top: 0px;
    right: 0;
    background-size: 80%;
    background-repeat: no-repeat;
  }

  .brightness-levels {
    padding-top: 50px;
    padding-left: 80px;
  }

  .brightness-levels:before {
    top: -110px;
    left: -260px;
  }

  .brightness-levels ul li {
    width: 100%;
  }

  .product-function-txt h4 {
    padding-bottom: 0px;
  }

  .battery-txt h5 {
    font-size: 30px;
    line-height: 36px;
  }

  .attractive-txt h4 {
    padding-right: 0;
  }

  .attractive-txt {
    padding: 40px 0 40px;
  }

  .product-specifi {
    margin-bottom: 10px;
  }

  .mid-box:before {
    top: 73px;
  }

  .vc_custom_1684223224592 {
    padding-top: 30px !important;
  }

  .real-time-co-dect-heading h4 {
    font-size: 22px;
  }

  .real-time-co-dect-heading h5 {
    font-size: 28px;
  }

  .\32 sec {
    font-size: 12px !important;
  }

  .co2-bar:before {
    width: 360px;
  }

  .co2-bar {
    padding-top: 30px;
  }

  .co2-bar ul {
    gap: 24px;
  }

  .co2-bar ul li {
    font-size: 13px;
  }

  ul.bar-colr {
    gap: 43px;
  }

  ul.bar-colr li span {
    left: -30px;
  }

  .last-bar {
    margin-left: -23px;
  }

  .product-discription:before {
    display: none;
  }

  .product-discription ul li {
    font-size: 14px;
  }

  .product-feature ul li {
    font-size: 15px;
  }

  .tab-bg:before {
    width: 700px;
    border-radius: 5px;
    top: -22px;
    left: -206px;
  }

  .product-discription ul {
    z-index: 2;
  }

  .product-feature ul {
    padding: 0 20px 0px 20px;
  }

  .product-discription ul {
    padding: 0 30px 0 0px;
  }

  .product-feature ul li {
    padding-left: 30px;
  }

  .tabcontent img {
    width: 50%;
  }

  .ac_slider_left_box img {
    width: 50%;
    margin: 0 auto;
  }

  .ac_slider_content {
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 100px;
  }

  .home-slider button.slick-next.default.slick-arrow {
    left: 79%;
    bottom: 0px;
  }

  .home-slider button.slick-prev.default.slick-arrow {
    left: 70%;
    bottom: -1px;
  }

  .home-slider ul.slick-dots {
    bottom: -5px;
    left: 195px;
  }

  .brochore-btn a {
    gap: 8px;
    width: 30%;
  }

  .ac_slider_left_box {
    text-align: center;
  }

  .dis-img {
    display: flex;
    margin-left: 40px;
    gap: 100px;
    margin-top: 0px;
    margin-bottom: 35px;
  }

  .dis-img img {
    width: 80% !important;
  }

  li.tab-bg:before {
    width: 630px;
  }

  .new-but-btn {
    width: 100%;
  }

  .shdw-line {
    display: none;
  }

  .produt-img:before {
    top: -75px;
    right: 5px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
    width: 50%;
    height: 320px;
  }

  .high-defination-banner {
    margin-top: 50px;
  }

  img.high-dispaly-img {
    width: 100%;
  }

  .mob-scroll {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
  }

  .women-bag-banner {
    margin-top: 50px;
  }

  .heandy-portable-section {
    margin-top: 50px;
  }

  .corbon-monoxide-section {
    padding-top: 80px;
  }

  .corbon-monoxide-section:before {
    height: 360px;
  }

  .hazard-txt-co {
    line-height: 30px;
  }

  .health-hazars-data {
    padding-top: 20px;
  }

  .co-monitore-outdoor-slider {
    padding-top: 50px;
  }

  .real-time-data-section {
    margin-top: 50px;
  }

  .outdoor-monitor-device-img {
    margin-top: 30px;
  }

}




.floating {
  animation-name: floating !important;
  animation-duration: 3s !important;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.buy-btns .buynow {
  margin-left: 26px;
  text-transform: capitalize !important;
  width: 80% !important;
  background: #7ab261 !important;
  color: #fff !important;
  font-family: 'Nunito Sans' !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
  margin-top: 20px;
  display: block;
}

.buy-btns .buynow:hover {
  background: #dd8e18 !important;
  color: #000 !important;
}

.discount-mrp {
  display: flex;
  align-items: baseline;
  padding-bottom: 15px;
  gap: 5px;
}

.discount-mrp span {
  font-size: 18px;
}


.new-cart .quantity.buttons_added input {
  width: 80%;
  margin: auto 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 42px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.quantity.buttons_added {
  width: 100%;
  margin: 0 !important;
}

.new-cart button {
  background: #7ab261;
  width: 82%;
  margin: 15px auto 20px;
  color: #fff;
  border-radius: 5px !important;
  font-size: 14px !important;
  font-family: Nunito Sans !important;
  padding: 10px;
  border: 0;
}

.new-cart a {
  background: #7ab261;
  width: 82%;
  margin: -10px auto 25px;
  border-radius: 5px !important;
  color: #fff;
  font-size: 14px !important;
  font-family: 'Nunito Sans' !important;
}

#menu li a.active {
  position: relative;
}

#menu li a.active:before {
  position: absolute;
  background-image: linear-gradient(89.99deg, #67b455 0.01%, #2AB752 100%);
  width: 110px;
  height: 2px;
  content: "";
  bottom: -25px;
  left: -20px;
}

main.main.py-4 {
  padding: 0 !important;
}

#menu {
  list-style: none !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 !important;
  background: #f1f1f8;
  padding: 20px 0;
}

#menu li a {
  text-decoration: none;
  color: #31343D;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 600;
}