@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

.container-fluid {
    width: 85%;
}

#closeBtn {
    display: none;
    /* Initially hidden */
}

.react-multiple-carousel__arrow--left:before {
    content: "" !important;
    background: url(/img/slider-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-95deg);
}

.react-multiple-carousel__arrow--right:before {
    content: "" !important;
    background: url(/img/slider-icon.png);
    background-size: 50%;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.react-multiple-carousel__arrow:hover {
    background: #c8c8c8 !important;
}

main.main.py-4 {
    padding: 0px !important;
}

.footer {
    position: relative;
}

.sticky-box {
    background: #fff;
    position: relative;
    z-index: 2;
}

.hero-sec {
    background: url(/img/lower-your-indoor-aqi-levels-to-single-digits.webp) center / cover;
    margin-top: -100px;
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.sticky-space {
    height: 100vh;
}

.hero-heading {
    margin-top: 500px;
    top: 50px;
    position: relative;
}

.hero-sec::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(0deg, rgb(50, 27, 1), rgba(0, 0, 0, 0));
    width: 100%;
    height: 500px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.hero-link:before {
    position: absolute;
    content: "";
    background: #ffffff6e;
    width: 1px;
    height: 60px;
    left: 0;
    top: -10px;
}

.hero-link {
    margin-top: 600px;
    padding-left: 50px;
    position: relative;
    left: -300px;
    top: 80px;
}

.hero-heading h1 {
    color: #f9faff;
    font-size: 44px;
    width: 70%;
    font-weight: 300;
}

.hero-heading p {
    color: #ffffffb2;
    font-size: 18px;
    font-weight: 100;
    width: 60%;
}

iframe#videoFrame {
    position: absolute;
    left: -350px;
    top: -400px;
}

span#closeBtn {
    position: absolute;
    top: -460px;
    font-size: 35px;
    color: #fff;
    left: 250px;
    cursor: pointer;
    background: #000;
    border-radius: 100%;
    padding: 0 15px;
}

.hero-link a {
    background: rgb(97, 167, 66);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 15px 50px;
    border-radius: 100px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s linear;
    z-index: 6;
}

.hero-link a:hover {
    background: none;
}

.video-box {
    position: relative;
    float: right;
    background: url("/img/fresher-air-video-thumbnail.webp") 0% 0% / cover;
    width: 300px;
    height: 200px;
    z-index: 5;
    text-align: center;
    padding-top: 80px;
}

.video-box button#playButton {
    background: none;
    border: 0px;
    position: relative;
    z-index: 999;
}

.video-box button#playButton img {
    width: 70%;
    margin-left: -18px;
}

.scroll-explore {
    text-align: center;
    border-top: 1px solid #ffffff5c;
    padding-top: 20px;
    margin-top: 130px;
    position: relative;
}

.scroll-explore a {
    color: #ffffff73;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    position: relative;
    top: 60px;
    width: 100%;
    cursor: pointer;
}

.scroll-explore a img {
    width: 8px;
    height: auto;
}

.app-slide-img-box img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.any-moment-box p {
    color: #263D4FCC;
    font-size: 16px;
    width: 70%;
}


section.any-mood {
    padding-top: 100px;
}

.app-slide-img-box img {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.any-moment-box h3 {
    color: #263D4F;
    font-size: 24px;
}


.any-moment-box {
    top: -140px;
    position: relative;
    padding: 0;
    text-align: left;
}

.any-mood {
    padding-top: 100px;
}

.any-moment-heading h2 {
    color: #263D4F;
    font-family: 'Nuosu' !important;
    font-size: 40px;
}

.any-moment-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}

.any-moment-track {
    display: flex;
    width: 190%;
}

.moment-card img {
    width: 100%;
    height: auto;
    margin-right: auto;
    display: block;
}

.any-moment-box {
    margin-top: 1rem;
    max-width: 400px;
}

.any-moment-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 5rem 0;
}

.moment-card {
    width: 95%;
}

.pin-spacer {
    margin: 0 !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(90% + 1px) !important;
}

.react-multiple-carousel__arrow {
    bottom: 40px !important;
    background: #7ab261 !important;
}

section.toxic-sec-bg {
    background: #050812;
    border-radius: 60px 60px 0 0;
    padding-top: 100px;
    margin: 120px 20px 0;
}

section.toxic-img {
    background: url("/img/toxic-pollutants.webp");
    background-size: cover;
    height: 900px;
    background-position: center;
}

.toxic-heading {
    text-align: center;
}

.toxic-heading h2 {
    color: #FFFFFF;
    font-family: Nuosu !important;
    font-size: 40px;
    margin: 0;
}

.toxic-heading h3 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 500;
}

.toxic-heading p {
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto;
    width: 50%;
}

.particular ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.particular ul li img {
    width: 50px;
    height: auto;
}

.particular ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.particular ul li p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    width: 50%;
}

.particular {
    padding-top: 200px;
}

.particular ul li:first-child {
    position: relative;
    top: 170px;
    animation-duration: 2s;
}

.particular ul li:nth-last-child(2) {
    position: relative;
    top: 200px;
    animation-duration: 4s;
}

.tab-main-box {
    display: flex;
}

section.pick-fresh-air-variant {
    margin-top: 150px;
}

.pick-fresh-heaidng h2 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
    font-size: 40px;
}

.pick-fresh-heaidng h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 700;
}

.pick-fresh-para p {
    color: #263D4FCC;
    font-size: 18px;
    padding-left: 270px;
}

.br-line {
    border: 1px solid #bfbfbf;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
}

.tab-sec ul.nav {
    border: 0;
    gap: 20px;
    background: #263d4fc4;
    padding: 15px 25px;
    border-radius: 11px;
    width: 36%;
    position: relative;
    left: 120px;
    top: 50px;
}

.tab-sec ul.nav:before {
    position: absolute;
    content: "";
    background: url(/img/bestseller.png);
    width: 20%;
    background-size: 60%;
    height: 100px;
    background-repeat: no-repeat;
    top: -8px;
    left: 170px;
}

.tab-sec ul.nav .active h4 {
    font-weight: 600;
    color: #ffffff;
    border: 0;
    margin: 0;
}

.tab-sec ul.nav button h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.tab-sec ul.nav .active {
    border: 0;
    background: transparent;
}

.tab-sec ul.nav button {
    padding: 0;
    color: #ffffffb3;
}

.tab-sec ul.nav button:hover {
    color: #fff;
    border: 0;
}

.tab-sec ul.nav button:hover {
    color: #ffffff4f;
    border: 0;
}

.tab-cont-img {
    width: 100%;
    margin-top: -50px;
    border-radius: 30px 0 0 30px;
}

.tab-cont-img img {
    width: 100%;
    height: auto;
}

.tab-inner-content {
    width: 80%;
    background: #e7efff;
    margin-top: -50px;
    padding: 40px 20px 70px;
    margin-left: -40px;
    border-radius: 0 30px 30px 0;
}

.tab-content a {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #61A742;
    font-size: 16px;
    margin-top: -50px;
    position: relative;
    margin-right: 30px;
}

.tab-inner-content h3 {
    color: #263D4F;
    font-size: 28px;
    font-family: Nuosu SIL !important;
    border: 1px solid #263D4F;
    text-align: center;
    width: 40%;
    border-radius: 50px;
    padding: 10px;
}

.tab-inner-content span {
    color: #263D4F;
    font-size: 16px;
    font-style: italic;
}

.inner-flex {
    display: flex;
    gap: 20px;
}

.lft {
    width: 100%;
    background: #fff;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
}

.rgt {
    width: 60%;
    background: #fff;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
}

.lft h4 {
    color: #263D4F;
    font-size: 18px;
    font-weight: 500;
}

.lft ul li {
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: capitalize;
    color: #263d4fe5;
}

.lft ul {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rgt h4 {
    color: #263D4F;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rgt span {
    color: #263D4F;
    font-size: 14px;
    font-style: normal;
}

.rgt h5 {
    color: #263D4F;
    font-size: 28px;
    font-weight: 500;
}

.highlight {
    width: 100%;
    background: #fff;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
}

.highlight h4 {
    color: #263D4F;
    font-size: 18px;
    font-weight: 500;
}

.highlight ul {
    padding: 0;
    margin-top: 20px;
}

.highlight ul li {
    padding-bottom: 10px;
    color: #263d4ff0;
    font-size: 16px;
}

.tab-content a img {
    width: 30px;
    height: auto;
}

.hazardous-video-box img {
    width: 100%;
    height: auto;
}

section.aqi-levels-digits {
    padding-top: 140px;
}

.hazardous-video-box-heading {
    padding-bottom: 50px;
}

.hazardous-video-box-heading h2 {
    color: #263D4F;
    font-size: 40px;
    font-family: Nuosu SIL !important;
}

.hazardous-video-box-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 700;
}

section.effortless-sec .container-fluid {
    background: url(/img/effortless-fresh-air-machine.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    height: 820px;
    padding: 0;
}

.efforless-text h2 {
    color: #F7F7F7;
    font-size: 32px;
    font-family: Nuosu SIL !important;
}

.efforless-text h3 {
    color: #F7F7F7;
    font-size: 32px;
    font-weight: 600;
}

.efforless-text {
    padding-top: 70px;
    padding-left: 100px;
}

.effortless-data {
    background: #fff3;
    box-shadow: 0 10px 32px #8e8e8e1f;
    border-radius: 30px;
    padding: 50px 50px 20px;
    margin: 360px 20px 0;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}

.effortless-data ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
}

.effortless-data ul li {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    position: relative;
}

.effortless-data ul li span img {
    width: 40px;
    height: auto;
    margin-top: 10px;
}

.effortless-data ul li span h3 {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
}

.effortless-data ul li span p {
    color: #FFFFFFCC;
    font-size: 14px;
    width: 70%;
    padding-top: 5px;
}

section.effortless-sec .container-fluid:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(0deg, black, transparent);
    width: 100%;
    height: 400px;
    bottom: 0;
    border-radius: 30px;
}

.effortless-data ul li:before {
    position: absolute;
    content: "";
    background-image: linear-gradient(45deg, #ffffff1f, #ffffffa6, #ffffff26);
    width: 1px;
    height: 60px;
    top: 0;
    left: 65px;
}

.banner-slider-img img {
    width: 99%;
    height: auto;
}

.banner-slider-heading {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

section.slider-sec {
    margin-top: 100px;
}

.fresher-machine-heading h2 {
    color: #D2E4FF !important;
}

.fresher-machine-heading h3 {
    color: #D2E4FF !important;
}

.fresher-machine-heading p {
    color: #DBDBDB !important;
}

.banner-slider-heading h2 {
    color: #263D4F;
    font-size: 40px;
    font-family: Nuosu SIL !important;
}

.banner-slider-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
}

.banner-slider-heading p {
    color: #263D4FB2;
    font-size: 16px;
    width: 40%;
}

.outdoor-img {
    width: 47% !important;
}

.mode-box img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.banner-slider-box {
    margin-top: 30px;
}

.banner-slider-box {
    margin-top: 30px;
}

.modes-bg {
    margin-top: 30px;
    background: #e7efffd6;
    border-radius: 40px;
    padding-bottom: 40px;
}

.tow-modes-heading {
    padding-top: 60px;
    padding-left: 100px;
}

.tow-modes-heading h2 {
    font-family: Nuosu SIL !important;
    color: #263D4F;
    font-size: 32px;
}

.tow-modes-heading h3 {
    color: #263D4F;
    font-size: 32px;
    font-weight: bold;
}

.mode-box ul {
    list-style: none;
    padding: 0 70px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
}

.mode-box ul li:first-child {
    font-size: 24px;
    color: #263D4F;
    font-weight: 700;
    border: 1px solid #263D4F;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding-left: 5px;
    padding-top: 2px;
}

.mode-box ul li:last-child {
    font-size: 20px;
    color: #263D4F;
    font-weight: 700;
}

.mode-box p {
    color: #263D4FCC;
    font-size: 14px;
    padding-left: 123px;
    width: 80%;
    line-height: 25px;
}

.tab-sec.tech-tab-box ul.nav {
    width: 40%;
}

.tech-tab-box ul {
    border: 0;
    gap: 40px;
    background: #263d4fc4;
    padding: 15px 25px;
    border-radius: 11px;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
}

section.tech-breathes {
    padding-top: 120px;
    text-align: center;
}

.tech-breath-heading h2 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
    font-size: 40px;
}

.tech-breath-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 700;
}

.tech-breath-heading {
    padding-bottom: 40px;
}

.tech-tab-box ul.nav .active {
    border: 0;
    background: none;
}

.tech-tab-box ul.nav .active h4 {
    font-weight: 600;
    color: #fff;
    border: 0;
    margin: 0;
}

.tech-tab-box ul.nav button h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #ffffff8f;
}

.tech-tab-box .nav button:hover {
    border: 0;
}

.tab-main-box-img img {
    height: auto;
    width: 50%;
}

.tab-main-box-img {
    padding-top: 100px;
}

.tab-main-box-img p {
    color: #263D4FB2;
    font-size: 22px;
    padding-top: 100px;
}

.tab-main-box-img p span {
    color: #263D4F;
}

.review-slider {
    margin-left: 160px;
    margin-top: 60px;
    padding-bottom: 100px;
}

section.loved-family {
    padding-top: 120px;
}

.loved-heading {
    text-align: center;
}

.loved-heading h2 {
    color: #263D4F;
    font-size: 40px;
    font-family: Nuosu SIL !important;
}

.loved-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
}

.app-slide-review-box {
    background: #e7efffe3;
    border-radius: 25px;
    margin: 0 10px;
    padding: 40px;
    height: 400px;
}

.app-slide-review-box img {
    height: auto;
}

.app-slide-review-box p {
    color: #263D4F;
    font-size: 16px;
    padding-top: 25px;
    line-height: 26px;
}

.app-slide-review-box h3 {
    color: #263D4F;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.variant-sec {
    padding-top: 100px;
}

.variant-comparison h2 {
    color: #263D4F;
    font-size: 40px;
    font-family: Nuosu SIL !important;
}

.variant-comparison h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 700;
}

.variant-comparison {
    padding-bottom: 60px;
}

.main-title-variant {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.main-title-variant:before {
    position: absolute;
    content: "";
    background: url(/img/bestseller.png);
    width: 8%;
    background-size: 60%;
    height: 100px;
    background-repeat: no-repeat;
    top: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-title {
    margin: 0;
    color: #263D4F;
    font-size: 18px;
}

.main-title-variant li h5 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
    border: 1px solid #263D4F;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 0;
}

.main-title-variant li span {
    color: #263D4F;
    font-size: 14px;
}

.main-title-variant li {
    text-align: center;
}

.variant-comparison-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.variant-comparison-box ul li {
    padding-bottom: 15px;
    border-bottom: 1px solid #0000001c;
    margin-bottom: 15px;
    text-align: center;
    width: 140%;
    height: 60px;
}

.variant-text {
    margin: 0;
    color: #263D4FB2;
    font-size: 16px;
}

.variant-comparison-box {
    margin-top: 30px;
    padding: 30px 0px;
    display: flex;
}

.variant-comparison-sec {
    position: relative;
}

.variant-comparison-sec:before {
    position: absolute;
}

.variant-comparison-sec:before {
    background: #e7efffa1;
    position: absolute;
    content: "";
    width: 100%;
    height: 86%;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100px;
    border-top: 1px solid #0000001c;
    border-bottom: 1px solid #0000001c;
}

.variant-tile {
    color: #263d4f;
    font-size: 16px;
    width: 30%;
    margin: 0 auto;
}

.variant-comparison-box ul li img {
    width: 24px;
    height: auto;
}

.variant-feature li {
    height: 60px !important;
}

ul.variant-feature {
    width: 40%;
}

ul.variant-feature li {
    width: 100%;
}

ul.variant-feature li {
    width: 100%;
    border-bottom: 1px solid #00000017 !important;
}

.variant-comparison-box ul li a {
    color: #7ab261;
    font-size: 14px;
}

.variant-comparison-box ul li:last-child {
    border: 0;
    padding: 20px 0;
}

ul.variant-feature li:last-child {
    padding: 0;
}

section.future-ready-sec {
    padding-top: 200px;
}

.future-heading h2 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
}

.future-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
}

.future-para p {
    color: #263D4FB2;
    font-size: 20px;
    padding-left: 200px;
}

.future-para p span {
    color: #263D4F;
}

.low-maintenance {
    background: #E7EFFF;
    padding: 30px 40px;
    border-radius: 25px;
    height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}

.future-heading {
    padding-bottom: 100px;
}

.low-maintenance ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: end;
}

.low-maintenance ul li h4 {
    color: #263D4F;
    font-size: 20px;
    text-transform: capitalize;
    width: 70%;
    padding-bottom: 10px;
    line-height: 30px;
}

.low-maintenance ul li p {
    color: #263D4FCC;
    font-size: 14px;
    width: 88%;
}

.low-maintenance ul li img {
    width: 100%;
    height: auto;
}

.green-building {
    background: #E7EFFF;
    padding: 40px 40px 0;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 450px;
}

.green-building ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.green-building ul li img {
    width: 100%;
    height: auto;
    margin-top: 165px;
}

.green-building ul li {
    width: 100%;
}

.green-building ul li h4 {
    color: #263D4F;
    font-size: 20px;
    text-transform: capitalize;
    width: 70%;
    padding-bottom: 50px;
    line-height: 30px;
}

.green-building ul li p {
    color: #263D4FCC;
    font-size: 14px;
    width: 90%;
}

.why-settle-sec {
    padding-top: 140px;
}

.why-settle-heading h2 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
    font-size: 40px;
}

.why-settle-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
}

.spend-time {
    margin-top: 100px;
    background: url(/img/spend-your-time-indoors.webp);
    height: 440px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.spend-time ul {
    list-style: none;
    padding: 250px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.spend-time ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.spend-time ul li span {
    color: #ffffffc9;
    font-size: 12px;
    padding: 0 40px;
}

.spend-time ul li img {
    width: 25%;
    height: auto;
    margin: 10px auto;
}

.spend-time ul li:nth-child(1) {
    top: 22px;
}

.spend-time ul li:nth-child(2) {
    top: -90px;
    animation-duration: 2s;
}

.spend-time ul li:nth-child(3) {
    top: 30px;
    left: 30px;
    animation-duration: 3s;
}

.spend-time ul li:nth-child(4) {
    top: -60px;
    left: -40px;
    animation-duration: 2s;
}

.spend-time-para p {
    color: #263D4FB2;
    font-size: 16px;
    width: 70%;
    padding-left: 50px;
}

.fresh-air-machine-para img {
    width: 100%;
    height: auto;
}

.fresh-air-machine {
    padding-top: 130px;
    padding-bottom: 20px;
}

.fresh-air-machine-para {
    margin-left: -24px;
    margin-right: 25px;
}

.contact-form-box .box-form {
    width: 100%;
    box-shadow: none;
    padding: 0;
}

.contact-info {
    display: none;
}

.contact-form-box .box-form .row {
    flex-wrap: nowrap;
}

.contact-box img {
    width: 100%;
    height: auto;
}

section.get-in-sec {
    padding-top: 170px;
}

.get-in-heading h2 {
    color: #263D4F;
    font-size: 40px;
    font-family: Nuosu SIL !important;
}

.get-in-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
}

.contact-details {
    background: #edf2ff;
    margin-top: -150px;
    position: relative;
    padding: 50px;
    border-radius: 0 0 25px 25px;
}

.contact-details h4 {
    color: #263D4F;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.contact-details p {
    color: #263D4F;
    font-size: 14px;
}

.contact-details ul {
    list-style: none;
    padding: 30px 0 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-details ul li img {
    width: 50%;
}

.contact-details ul li {
    display: flex;
    margin-bottom: 20px;
}

.contact-details ul li h4 {
    color: #263D4F;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section.faq-sec {
    margin-top: 150px;
    position: relative;
    padding-bottom: 200px;
}

section.faq-sec:before {
    position: absolute;
    content: "";
    background: #E7EFFF;
    width: 40%;
    height: 70%;
    left: 0;
    top: 0;
    border-radius: 0 25px 25px 0;
}

.faq-heading {
    position: relative;
    top: 100px;
}

.faq-heading h2 {
    color: #263D4F;
    font-family: Nuosu SIL !important;
    font-size: 40px;
}

.faq-heading h3 {
    color: #263D4F;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 40px;
}

.faq-heading p {
    color: #263D4FCC;
    font-size: 16px;
    width: 50%;
}

.accordion-button:not(.collapsed) {
    color: #263D4F;
    background-color: transparent;
    box-shadow: none;
}

.faq-tab-para {
    padding-top: 0;
    padding-bottom: 0;
}

.faq-tab-para p {
    color: #263D4FCC;
    font-size: 15px;
    width: 80%;
}

.accordion-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.accordion {
    --bs-accordion-border-color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container-fluid {
        width: 94%;
    }

    .hero-link:before {
        display: none;
    }

    .hero-sec {
        margin-top: 0;
        padding-bottom: 0;
        height: 760px;
    }

    .hero-heading {
        margin-top: 200px;
        top: 10px;
    }

    .hero-heading h1 {
        font-size: 30px;
        width: 70%;
    }

    .hero-heading p {
        font-size: 16px;
        width: 70%;
    }

    .hero-link {
        margin-top: 0;
        padding-left: 0;
        left: 0;
        top: 20px;
    }

    .video-box {
        width: 210px;
        height: 140px;
        padding-top: 58px;
        background-size: 80%;
        background-repeat: no-repeat;
        margin-top: 88px;
        background-position: right;
        padding-left: 50px;
    }

    .scroll-explore {
        padding-top: 20px;
        margin-top: 200px;
    }

    iframe#videoFrame {
        left: -140px;
        top: 0;
        width: 360px;
        height: 205px;
        z-index: 99;
    }

    .video-box button#playButton {
        position: relative;
        z-index: 1;
    }

    span#closeBtn {
        top: -50px;
        left: 150px;
    }

    .contact-form-box .box-form .row {
        flex-wrap: wrap;
    }

    .particular ul {
        flex-direction: column;
    }

    .effortless-data ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .effortless-data ul li {
        flex-direction: column;
        gap: 10px;
    }

    .effortless-data ul li span h3 {
        font-size: 14px;
        width: 70%;
    }

    .effortless-data ul li span p {
        font-size: 13px;
        width: 90%;
    }

    .efforless-text {
        padding-top: 40px;
        padding-left: 20px;
    }

    .inner-flex {
        flex-direction: column;
        gap: 0px;
    }

    .variant-sec {
        padding-top: 20px;
    }

    .variant-comparison h2 {
        font-size: 28px;
    }

    .variant-comparison h3 {
        font-size: 28px;
    }

    .banner-slider-heading {
        margin-top: 0;
        margin-left: 0;
    }

    .banner-slider-heading h2 {
        font-size: 18px;
        padding-top: 10px;
        margin: 0;
    }

    .mode-box ul li:last-child {
        font-size: 16px;
    }

    section.tech-breathes {
        padding-top: 50px;
    }

    .tech-breath-heading h2 {
        font-size: 28px;
    }

    .tech-breath-heading h3 {
        font-size: 28px;
    }

    .tech-breath-heading {
        padding-bottom: 10px;
    }

    .tech-tab-box ul {
        padding: 5px 0px;
        width: 100%;
        justify-content: unset;
        gap: 0px;
    }

    .variant-comparison-sec {
        overflow-x: auto;
    }

    .tech-tab-box ul.nav button h4 {
        width: 90%;
    }

    .review-slider {
        margin-left: 30px;
        margin-top: 20px;
    }

    .tab-main-box-img {
        padding-top: 30px;
    }

    section.loved-family {
        padding-top: 20px;
    }

    .loved-heading h3 {
        font-size: 26px;
    }

    .loved-heading h2 {
        font-size: 28px;
    }

    .tab-main-box-img p {
        font-size: 18px;
        padding-top: 30px;
    }

    .tab-main-box-img img {
        width: 100%;
    }

    .mode-box ul {
        padding: 0 20px;
        gap: 15px;
        margin: 0;
    }

    .mode-box ul li:first-child {
        font-size: 16px;
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-top: 2px;
    }

    .mode-box p {
        font-size: 14px;
        padding-left: 30px;
        width: 90%;
    }

    .tow-modes-heading {
        padding-top: 30px;
        padding-left: 20px;
    }

    .banner-slider-heading p {
        font-size: 14px;
        width: 50%;
    }

    .banner-slider-heading h3 {
        font-size: 26px;
    }

    .rgt h5 {
        font-size: 22px;
    }

    .highlight {
        width: 100%;
        margin-top: 10px;
    }

    .banner-slider-img img {
        width: 100%;
    }

    .rgt {
        width: 100%;
        margin-top: 10px;
        padding: 20px 30px;
    }

    .variant-tile {
        width: 90%;
    }

    ul.variant-feature {
        width: 100%;
    }

    .variant-comparison-box ul li {
        width: 100%;
    }

    .variant-comparison-sec:before {
        width: 700px;
    }

    .variant-comparison {
        padding-bottom: 30px;
    }

    section.future-ready-sec {
        padding-top: 70px;
    }

    .main-title-variant {
        align-items: center;
        flex-direction: row;
        gap: 0px;
        width: 650px;
    }

    .variant-text {
        font-size: 14px;
        text-align: left;
    }

    .variant-comparison-box {
        width: 650px;
    }

    .main-title-variant li h5 {
        padding: 10px;
        font-size: 16px;
    }

    .spend-time ul {
        flex-direction: column;
        padding: 0;
    }

    .any-moment-heading h2 {
        font-size: 26px;
    }

    .any-moment-heading h3 {
        font-size: 26px;
        padding-bottom: 20px;
    }

    .any-moment-box {
        top: -120px;
        padding: 0 10px;
    }

    .any-moment-box h3 {
        font-size: 20px;
    }

    .react-multiple-carousel__arrow--right {
        right: calc(0% + 1px);
    }

    .react-multiple-carousel__arrow--left {
        left: calc(70% + 1px) !important;
    }

    section.toxic-sec-bg {
        border-radius: 40px 40px 0 0;
        padding-top: 60px;
        margin: 50px 10px 0;
    }

    .toxic-heading h2 {
        font-size: 26px;
    }

    .toxic-heading h3 {
        font-size: 30px;
    }

    .toxic-heading p {
        font-size: 16px;
        width: 90%;
    }

    section.toxic-img {
        height: 500px;
    }

    .particular {
        padding-top: 0px;
    }

    .particular ul li:first-child {
        top: 0px;
    }

    .particular ul li p {
        width: 40%;
    }

    .particular ul li:nth-last-child(2) {
        top: 130px;
        left: 10px;
    }

    section.aqi-levels-digits {
        padding-top: 100px;
    }

    .hazardous-video-box-heading h2 {
        font-size: 26px;
    }

    .hazardous-video-box-heading h3 {
        font-size: 30px;
    }

    .hazardous-video-box-heading {
        padding-bottom: 10px;
    }

    section.effortless-sec .container-fluid {
        margin-top: 80px;
        height: auto;
        padding: 0;
    }

    .effortless-data {
        border-radius: 30px;
        padding: 20px;
        margin: 120px 20px 0;
        background: #00000052;
    }

    .effortless-data ul li:before {
        display: none;
    }

    .efforless-text h2 {
        font-size: 26px;
    }

    .efforless-text h3 {
        font-size: 30px;
    }

    section.pick-fresh-air-variant {
        margin-top: 100px;
    }

    .pick-fresh-heaidng h2 {
        font-size: 26px;
    }

    .pick-fresh-heaidng h3 {
        font-size: 26px;
    }

    .pick-fresh-para p {
        font-size: 16px;
        padding-left: 0px;
    }

    .tab-sec ul.nav {
        gap: 5px;
        padding: 15px;
        width: 90%;
        justify-content: center;
        left: 0;
        top: -20px;
        margin: 0 auto;
    }

    .tab-inner-content h3 {
        font-size: 22px;
        width: 70%;
    }

    .tab-sec ul.nav:before {
        background-size: 60%;
        height: 40px;
        top: -5px;
        left: 110px;
    }

    .tab-inner-content {
        width: 100%;
        margin-top: -50px;
        padding: 20px 20px 70px;
        margin-left: 0px;
        border-radius: 0 30px 30px 30px;
    }

    .tab-main-box {
        flex-direction: column;
    }

    .future-heading h3 {
        font-size: 30px;
    }

    .future-heading h2 {
        font-size: 24px;
    }

    .future-heading {
        padding-bottom: 10px;
    }

    .future-para p {
        font-size: 16px;
        padding-left: 0px;
    }

    .low-maintenance {
        padding: 20px;
        height: auto;
        margin-bottom: 10px;
    }

    .low-maintenance ul li h4 {
        font-size: 18px;
        width: 90%;
        padding-bottom: 10px;
        line-height: 26px;
    }

    .low-maintenance ul li img {
        width: 100%;
    }

    .green-building ul {
        flex-direction: column;
    }

    .green-building ul li h4 {
        font-size: 18px;
        width: 90%;
        padding-bottom: 10px;
        line-height: 26px;
    }

    .green-building {
        padding: 20px;
        margin-bottom: 10px;
        height: auto;
    }

    .green-building ul li img {
        margin-top: 0px;
    }

    .why-settle-sec {
        padding-top: 60px;
    }

    .why-settle-heading h2 {
        font-size: 26px;
    }

    .why-settle-heading h3 {
        font-size: 28px;
    }

    .spend-time ul li img {
        width: 12%;
    }

    .spend-time ul li:nth-child(3) {
        top: 0;
        left: 0;
    }

    .spend-time ul li:first-child {
        top: 50px;
        left: -110px;
    }

    .spend-time ul li:nth-child(4) {
        top: 20px;
        left: -40px;
    }

    .spend-time-para p {
        font-size: 16px;
        width: 100%;
        padding-left: 0px;
    }

    .spend-time {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .fresh-air-machine {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .mob-flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .fresh-air-machine-para {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    section.get-in-sec {
        padding-top: 50px;
    }

    .get-in-heading h2 {
        font-size: 28px;
    }

    .get-in-heading h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .contact-details {
        margin-top: -20px;
        padding: 20px;
    }

    .contact-details ul li h4 {
        font-size: 14px;
    }

    .contact-details {
        margin-bottom: 15px;
    }

    section.faq-sec {
        margin-top: 70px;
        padding-bottom: 100px;
    }

    .faq-heading h2 {
        font-size: 30px;
    }

    .faq-heading h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .faq-heading p {
        font-size: 14px;
        width: 70%;
    }

    section.faq-sec:before {
        display: none;
    }

    .faq-heading {
        top: 0px;
    }

    .accordion-item {
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .sticky-space {
        height: 70vh;
    }

    .container-fluid {
        width: 95%;
    }

    .main-title-variant:before {
        width: 15%;
    }

    .spend-time {
        margin-top: 30px;
    }

    .hero-sec {
        margin-top: 0;
        padding-bottom: 0;
        height: 700px;
    }

    .hero-heading {
        margin-top: 200px;
        top: 0px;
    }

    .hero-link {
        margin-top: 10px;
        padding-left: 0;
        left: 0;
        top: 0;
    }

    .scroll-explore {
        margin-top: 150px;
    }

    .video-box {
        width: 250px;
        height: 166px;
        padding-top: 60px;
    }

    .any-moment-box {
        top: -60px;
        position: relative;
        padding: 0;
    }

    .any-moment-box h3 {
        font-size: 18px;
    }

    .app-slide-review-box h3 {
        font-size: 18px;
    }

    .main-title-variant li h5 {
        padding: 10px;
        font-size: 16px;
    }

    .any-moment-box p {
        width: 70%;
    }

    .react-multiple-carousel__arrow--left {
        left: calc(83% + 1px) !important;
    }

    section.toxic-sec-bg {
        padding-top: 30px;
        margin: 50px 20px 0;
    }

    .toxic-heading p {
        width: 80%;
    }

    .floating {
        margin-left: 0px;
    }

    .effortless-data {
        background: #00000059;
        padding: 30px 30px 20px;
        margin: 190px 30px 0;
    }

    .effortless-data ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .efforless-text {
        padding-top: 40px;
        padding-left: 40px;
    }

    .pick-fresh-para p {
        padding-left: 0;
        padding-top: 10px;
    }

    .tab-main-box {
        flex-direction: column;
    }

    .tab-sec ul.nav {
        gap: 20px;
        padding: 15px 25px;
        width: 70%;
        left: 120px;
        top: 50px;
    }

    .tab-inner-content {
        width: 100%;
        margin-top: -60px;
        padding: 40px 30px 80px;
        margin-left: 0px;
        border-radius: 0 30px 30px 0;
    }

    .banner-slider-heading {
        margin-top: 30px;
        margin-left: 30px;
    }

    .banner-slider-heading h2 {
        font-size: 30px;
    }

    section.tech-breathes {
        padding-top: 80px;
    }

    .tech-tab-box ul {
        width: 80%;
    }

    .tab-main-box-img {
        padding-top: 30px;
    }

    .tab-main-box-img img {
        width: 90%;
    }

    .tab-main-box-img p {
        padding-top: 20px;
    }

    .review-slider {
        margin-left: 50px;
        margin-top: 30px;
    }

    .variant-sec {
        padding-top: 40px;
    }

    .variant-tile {
        width: 90%;
    }

    .variant-feature li {
        padding-bottom: 0px !important;
    }

    .variant-text {
        text-align: left;
    }

    section.future-ready-sec {
        padding-top: 100px;
    }

    .future-heading {
        padding-bottom: 20px;
    }

    .future-para p {
        padding-left: 0px;
        padding-bottom: 30px;
    }

    .green-building ul li h4 {
        width: 100%;
    }

    .spend-time-para p {
        padding-left: 0px;
    }

    .mob-flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .fresh-air-machine-para {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    .fresh-air-machine {
        padding-top: 35px;
    }

    section.get-in-sec {
        padding-top: 70px;
    }

    .contact-details {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    section.faq-sec:before {
        display: none;
    }

    .faq-heading h2 {
        font-size: 30px;
    }

    .faq-heading {
        top: 0;
    }

    .faq-heading h3 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    section.faq-sec {
        margin-top: 50px;
        padding-bottom: 100px;
    }

    .variant-comparison-box ul li {
        width: 100%;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1366px) {
    .hero-sec {
        height: 850px;
    }

    .hero-heading {
        margin-top: 300px;
        top: 100px;
    }

    .hero-heading h1 {
        font-size: 35px;
        width: 100%;
    }

    .hero-link {
        margin-top: 530px;
        padding-left: 0;
        left: -430px;
        top: 80px;
    }

    .scroll-explore {
        margin-top: 150px;
    }

    iframe#videoFrame {
        left: -450px;
        top: -170px;
    }

    span#closeBtn {
        top: -220px;
        left: 180px;
    }

    .any-moment-box {
        top: -70px;
        padding: 0;
    }

    .any-moment-box p {
        font-size: 14px;
        width: 80%;
    }

    .react-multiple-carousel__arrow--left {
        left: calc(85% + 1px) !important;
    }

    section.toxic-img {
        height: 700px;
    }

    .efforless-text {
        padding-top: 30px;
        padding-left: 40px;
    }

    .effortless-data {
        padding: 50px 20px 20px;
        background: #0c0c0c59;
        margin: 300px 30px 0;
    }

    .effortless-data ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .pick-fresh-para p {
        padding-left: 80px;
    }

    .pick-fresh-heaidng h2 {
        font-size: 30px;
    }

    .tab-main-box {
        flex-direction: column;
    }

    .tab-sec ul.nav {
        width: 60%;
        left: 150px;
        top: 30px;
    }

    .tab-inner-content {
        width: 100%;
        margin-top: -50px;
        padding: 40px 40px 70px;
        margin-left: 0;
    }

    .banner-slider-heading {
        margin-top: 20px;
        margin-left: 40px;
    }

    .banner-slider-heading p {
        width: 40%;
    }

    .tech-tab-box ul {
        width: 60%;
    }

    .tech-breath-heading {
        padding-bottom: 20px;
    }

    .tab-main-box-img {
        padding-top: 50px;
    }

    .tab-main-box-img img {
        width: 70%;
    }

    .tab-main-box-img p {
        padding-top: 30px;
    }

    section.loved-family {
        padding-top: 60px;
    }

    .future-para p {
        padding-left: 20px;
    }

    .low-maintenance {
        padding: 20px 20px;
        height: auto;
        margin-bottom: 10px;
    }

    .low-maintenance ul li h4 {
        width: 100%;
        padding-bottom: 0px;
        line-height: 30px;
    }

    .low-maintenance ul li img {
        width: 100%;
    }

    .green-building ul li h4 {
        width: 100%;
    }

    .fresh-air-machine {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .spend-time-para p {
        width: 90%;
        padding-left: 10px;
    }

    .fresh-air-machine-para {
        margin-left: -24px;
        margin-right: -51px;
    }

    .spend-time ul li:nth-child(4) {
        top: -170px;
        left: -160px;
    }

    .spend-time ul li:first-child {
        left: 160px;
    }

    section.get-in-sec {
        padding-top: 70px;
    }

    .contact-details {
        margin-top: -50px;
        padding: 30px;
    }

    .faq-heading h3 {
        font-size: 30px;
    }

    .faq-heading p {
        width: 80%;
    }

    section.faq-sec {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .variant-tile {
        width: 65%;
    }
}